
# OFF FOR LOCALHOST

# Options +MultiViews
# RewriteEngine on

# RewriteCond %{HTTPS} off [OR]
# RewriteCond %{HTTP_HOST} ^www\.evergreenaa\.com [NC]
# RewriteRule (.*) https://evergreenaa.com/$1 [L,R=301]

# ErrorDocument 401 https://evergreenaa.com/
# ErrorDocument 404 https://evergreenaa.com/
# ErrorDocument 500 https://evergreenaa.com/

