#bingo-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
#bingo {
	width: 100%;
	max-width: 1055px;
	padding: 10px;
	& > img {
		width: 100%;
		max-width: 1055px;
	}
}