#host-manage-wrap {
	width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.5em;
  padding: 50px 5px;
}
#transfer-host {
	width: 100%;
	max-width: 600px;
	padding: 0.25em 1em 1em;
	background-color: rgba(0,0,0,0.5); 
	p.t-nav {
		width: 100%;
		text-align: right;
		padding-right: 0.5em;
		margin: 0;
		a {
			font-size: 0.8em;
			padding: 0.25em 1em;
			background-color: rgba(255,255,255,0.4);
			color: #fff;
			text-decoration: none;
			transition: all 0.2s ease;
			&:hover {
				background-color: rgba(255,255,255,0.2);
				color: #fff;
			}
		}
	}
	h2 {
		padding-bottom: 0.25em;
		border-bottom: 1px solid rgba(255,255,255,0.4);
		font-size: 1.6em;
	}
	p {
		margin: 0.25em 0 1.5em;
	}
	p.current-role {
		margin: 0.25em 0 0;
	}
	p.bob-1 {
		margin: 0.25 0 0.75em 0;
		padding:0.25em 0em 0.5em;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	p.th-un {
		margin: 0;
		padding-top: 0em;
	}
	p.th-em {
		margin: 0 0 0.75em 0;
		padding-bottom: 0.5em;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	form {
		display: flex;
		flex-direction: column;
		p {
			margin-bottom: 0.25em;
		}
		input {
			width: 100%;
			// height: 1.5em;
			padding: 0.5em;
			border: none;
			outline: none;
			border-radius: none;
			font-size: 1.25em;
			background-color: rgba(255,255,255,0.25);
			color: #fff;
			transition: all 0.2s ease;
		}
		textarea {
			width: 100%;
			height: 8em;
			padding: 0.25em;
			border: none;
			outline: none;
			border-radius: none;
			font-size: 1.25em;
			background-color: rgba(255,255,255,0.25);
			color: #fff;
			transition: all 0.2s ease;
		}
	}

	#trans-msg,
	#sus-msg {
		// padding: 0.5em 0em;
		margin: 0.5em 0;
		p.host-disclaimer {
			// margin: 0.5em 0;
			border: 1px dashed rgba(255,255,255,0.25);
			padding: 1em;
			font-size: 0.75em;
			line-height: 1.5em;
		}
		span.sending-msg {
			text-align: center;
		}
	}
	a#transfer-this,
	a#select-role-first,
	a#suspend-user,
	a#not-yourself,
	a#change-user-role {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		text-align: center;
		width: 100%;
		padding: 1em;
		color: #fff;
		background-color: #40b208;
		transition: all 0.2s ease;
		&:hover {
			background-color: rgba(64,178,8,0.4);
		}
	}	
	a#transfer-this.ap {
		margin-top: 1.5em;
	}
	a#select-role-first,
	a#not-yourself {
		cursor: not-allowed;
	}
	a#select-role-first {
		background-color: #313131;
		&:hover {
			background-color: #757575;
		}
	}
}

h2.demote,
h2.change-role,
h2.trans-h2 {
	line-height: 1em;
	width: 100%;
	max-width: 600px;
	font-size: 1.75em;
	background-color: #841616;
	padding: 0.5em;
	border-bottom: none;
}
h2.trans-h2 {
	background-color: rgba(0,0,0,0.8); 
}
h2.change-role {
	background-color: #376420;
}
h2.change-role.downgrade {
	background-color: #841616;
}
h2.change-role.upgrade {
	background-color: #376420;
}

@media screen and (max-width: 440px) {
	#host-manage-wrap {
		padding: 20px 5px;
	}
	#transfer-host {
		form {
			input {
				font-size: 1.5em;
				padding: 1em 0.25em;
			}
		}
	}
}

#sus-wrap { //suspended msg
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 96%;
	max-width: 600px;
	line-height: 1.5em;
	p {
		width: 100%;
		text-align: left;

	}
	p.sus-header {
		margin: 1em 0 0;
		background-color: #841616;
		color: #fff;
		padding: 0.5em 0.5em 0.5em 1em;
	}
	p.sus-notes {
		margin: 0 0 1em;
		padding: 1em;
		background-color: rgba(0,0,0,0.6);
	}
}
#sus-reason {
	margin: 0;
}
#transfer-host a#suspend-user.user-suspended,
#transfer-host a#not-yourself.not-odin {
	background-color: #841616; 
	transition: all 0.2s ease;
}
#transfer-host a#suspend-user.user-suspended:hover,
#transfer-host a#not-yourself.not-odin {
	background-color: #4d0d0d; 
}

a.manage-edit.spec {
	color: #96ff00;
	margin: 0 0.5em;
	&:hover {
		color: #00d8ff;
	}
}