#landing-bkg {
	width: 100%;
	height: 100%;
	height: 100vh;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -999;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	img.stretch {
		width: 100%;
	}
}
#landing {
	width: 100%;
	height: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	line-height: 1.5em;
	// under construction pg...
	.uc-page {
		width: 96%;
		max-width: 600px;
		padding: 0em 1em;
		p {
			margin-top: 1em;
			line-height: 1.5em;
		}
	}	
	// end uc pg
	& > form {
		width: 96%;
		max-width: 450px;
		padding: 30px 50px;
		background-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: rgba(255,255,255,0.06);
		border: 1px solid #fff;
    	box-shadow: 0px 0px 18px 8px rgba(255, 255, 255, 0.18);

		& > h1 {
			font-size: 1.2em;
			text-align: center;
			display: block;
			margin: 0 auto 1em;
		}
		& > p {
			margin-bottom: 0.5em;
		}
		& > input {
			height: 2.5em;
			width: 100%;
			// line-height: 1.5em;
			margin-bottom: 1em;
			padding: 0.5em;
			text-align:center;
			font-size: 1em;
			font-family: Tahoma, Calbri, Helvetica, sans-serif;
			background-color: rgba(0,0,0,0.2);
			background-color: rgba(255,255,255,0.05);
			// background-color: rgba(52, 78, 230, 0.1);
			color: #fff;
			border-top: 1px dotted #fff;
			border-right: none;
			border-bottom: 1px dotted #fff;
			border-left: none;
			transition: background-color 0.2s ease;
			&::placeholder {
				color: rgba(255,255,255,0.75);
			}
			&:focus,
			&:active {
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
				outline: none;
			}
			&:hover {
				background-color: rgba(255,255,255,0);
			}
		}


		.showpassword-wrap {
			margin-bottom: 1em;
			margin-top: -0.5em;
			width: 100%;
			text-align: right;
			font-size: 0.8em;



			#showLoginPass,
			#showSignupPass {
				background-color: transparent;
				color: #fff;
				border: none;
				cursor: pointer;
				outline: 0;
				i.far {
					margin-right: 0.5em;
				}
				

			}
			#showLoginPass.showPassOn,
			#showSignupPass.showPassOn {
					color: #f5a8a8;
				}

			input#unhidepass {
				width: 1em;
				margin-right: 0.5em;
			}
			.unhide-cursor {
				cursor: pointer;
			}
			input#unhidepass {
				display: none;
			}
			.showPswd.showOn {
				color: green;
			}

		}
		input#showConf {
			margin-bottom: 0.5em;
		}
		& > input.submit {
			font-family: Tahoma, Calbri, sans-serif;
			background-color: rgba(0,0,0,0.9);
			color: #fff;
			cursor: pointer;
			border: 1px solid #fff;
			transition: all 0.2s ease;
			margin-top: 0.5em;
			-webkit-appearance: none;
			&:hover {
				background-color: rgba(0,0,0,0.2);
			}
		}
		& > .login-pswd,
        #showPassword,
        #showConf {
          margin-bottom: 0.5em;
          letter-spacing: 3px;
    }
	}

	.fpwd {
		font-size: 0.8em;
		text-align: center;
		color: #fff;
		a {
			color: #fff;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}



}

.rm-wrap {
	// margin-bottom: 0.75em;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
	// &:focus,
	// &:active {
	// 	outline: none;
	// 	border: 1px dotted rgba(255,255,255,0.2);
	// }
}
input[name="remember_me"] {
	display: none;
}

.aa-rm-out {
	border: 2px solid #fff;
	border-radius: 50%;
	padding: 3px 2px 5px 2px;
	cursor: pointer;
	margin-right: 0.5em;
}
.aa-rm-in {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-bottom: 17.32px solid rgba(255,255,255,1);

  margin-top: -2px;
}
.aa-rm-in.checkaroo,
.aa-rm-in.checkaroo.checkit {
	border-bottom: 17.32px solid rgba(150,255,0,1);
}
.aa-rm-in.checkit {
  border-bottom: 17.32px solid rgba(150,255,0,1);
}
.rm-rm {
	color: #fff;
  &:hover {
    color: rgba(150,255,0,1);
  }

}
.rm-rm.hot {
	color: rgba(150,255,0,1);
}



div.pswd-recovery {
	padding: 20px;
    background-color: #d4e8da;
    color: #415b45;
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid #415b45;	
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #313131 inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}




h1.text-center {
	text-align: center;
	margin-bottom: 0.5em;
	font-size: 1.2em;
}
p.center {
	text-align: center;
}
p.btm-p {
	margin-top: 0.5em;
}
p.btm-p.try-again {
	font-size: 0.8em;
}
#landing-content {
	width: 96%;
	max-width: 450px;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// justify-content: center;
	padding: 30px 50px;
	background-color: rgba(255,255,255,0.06);
	border: 1px solid #fff;
	box-shadow: 0px 0px 18px 8px rgba(255, 255, 255, 0.18);
}
h1.welcome {
	font-size: 1.6em;
	margin: 0em 0em 0.6em 0em;
}
a.log {
	color: #fff;
	text-decoration: underline;
	margin-top: 0.5em;
	&:hover {
		text-decoration: none;
	}	
}
a.logout {
	color: #fff;
	text-decoration: none;
}
a.logout.odin {
	background-color: #931919;
}
a.welcome-log {
	color: #fda1a1;
	text-decoration: none;
	display: block;
	margin-right: 0.5em;
	text-align: right;
	&:hover {
		text-decoration: underline;
	}
}
button.verified,
a.verified {
	width: 100%;
	text-align: center;
	padding: 10px 20px;
	background-color: #d4e8da;
	background-color: rgba(0,0,0,1);
	color: #445e49;
	color: #fff;
	border: 1px solid #445e49;
	border-radius: 3px;
	font-size: 1em;
	transition: all 0.2s ease;
	display: block;
	margin: 0.5em auto 0;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid #fff;
	&:hover {
		background-color: #445349;
		background-color: rgba(0,0,0,0.3);
		color: #fff;
	}
}
.alert.alert-warning {
	background-color: #fff1cf;
	color: #7e652e;
	padding: 20px;
	border: 1px solid #fff;
	margin-top: 0.5em;
}
.alert.new-member {
	background-color: #fff1cf;
	color: #7e652e;
	padding: 20px;
	border: 1px solid #fff;
	margin-top: 0.5em;
}
p.logins {
	margin-top: 1em;
}
#session-msg {
  width: 100%;
}
.alert-danger {
	font-family: 'Courier Prime', monospace;
	padding: 20px;
	background-color: rgba(255,0,0,0.5);
	background-color: rgba(255,76,76,1);
	color: #fff;
	margin-bottom: 1em;
	width: 100%;
	text-align: center;
	border: 1px solid #fff;
	text-align: left;
}
.alert.alert-success {
	// font-family: 'Courier Prime', monospace;
	padding: 20px;
	background-color: #50ae4c;
	color: #fff;
	margin-bottom: 1em;
	width: 100%;
	text-align: center;
	border: 1px solid #fff;
}
.alert.alert-success.left {
  text-align: left;
}
.alert.pass-reset {
	padding: 20px;
	background-color: rgba(212,232,218,1);
	color: #415b45;
	margin-bottom: 1em;
	width: 100%;
	text-align: left;
	border: 1px solid #fff;

}
#login-wrap {
	height: 100%;
	height: 100vh;
	width: 100%;
	background-color: rgba(233,233,233,1);
	& > a.courier {
		font-family: 'Courier Prime', monospace;
	}
}
















#login-form,
#signup-form,
#forgotpass-form,
#resetpass-form {
  #hidethis {
    display: none;
  }
  a.fp-link {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 2px 10px;
    border: 1px solid transparent;
    background-color: #cd2b2b;
    &:hover {
      text-decoration: none;
      background-color: transparent;
      border: 1px solid #fff;
    }
  }
  #login-alert {
    font-family: 'Courier Prime', monospace; 
    color: #fff;
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    text-align: left;
    background-color: transparent;
    ul {
      margin-left: 20px;
      li {
        list-style-type: disc;
      }
    }
  }
  #login-alert.fade {
    background-color: blue;
    padding: 20px;
    margin-bottom: 1em;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 1s ease, border-radius 1.5s ease, border 1.5s ease;
  }
  #login-alert.red {
    background-color: #ff4c4c;
    padding: 20px;
    margin-bottom: 1em;
    border-radius: 15px;
    border: 1px solid #fff;
  }
  #login-alert.blue {
    background-color: #386ab4;
    padding: 20px;
    margin-bottom: 1em;
    border-radius: 15px;
    border: 1px solid #0f356d;    
  }
  #login-alert.orange {
    background-color: #d08b1f;
    padding: 20px;
    margin-bottom: 1em;
    border-radius: 15px;
    border: 1px solid #ff9c00;    
  }
  #login-alert.green {
    background-color: #139f19;
    padding: 20px;
    margin-bottom: 1em;
    border-radius: 15px;
    border: 1px solid #09f514;    
  }
  #toggle-btn {
    display: flex;
    width: 100%;
  }
  .verifying-msg {
    background-color: #000;
  }
  #login-btn,
  #signup-btn,
  #forgotpass-btn,
  #resetpass-btn,
  .verifying-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #fff;
    margin: 0.5em 0 1em;
    cursor: pointer;
    transition: all 0.2s ease;
    .login-txt {
      background-color: rgba(0,0,0,0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 2.5em;
    &:hover {
        background-color: #000;
      }
    }
    .login-verify {
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      // padding: 10px 20px;
      height: 2.5em;

    }
  }
  // when form is processing - remove
  // pointer and keep bkg solid (no hover)
  #toggle-btn .verifying-msg .login-txt,
  #toggle-btn .verifying-msg .login-txt,
  #toggle-btn .verifying-msg .login-txt,
  #toggle-btn .verifying-msg .login-txt {
    cursor: default;
    .login-txt {
      background-color: #000;
    }
  }
}















a.signup-link {
	color: #fff;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
form#logout-form {
	& > button {
		padding: 10px 16px;
		margin-top: 1em;
	}
}
#register {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	height: 100vh;
	line-height: 2em;
	& > form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 96%;
		max-width: 500px;
		padding: 30px;
		font-size: 1em;
		& > h1 {
			margin-bottom: 0.5em;
		}
		& > input {
			height: 2.5em;
			// width: 50%;
			// line-height: 1.5em;
			margin-bottom: 1em;
			padding: 0.5em;
			text-align:center;
			font-size: 1em;
			font-family: Tahoma, Calbri, Helvetica, sans-serif;
		}
		& > button {
			padding: 10px 20px;
			background-color: rgba(0,0,0,1);
			color: rgba(255,255,255,1);
			border: 1px solid #fff;
			cursor: pointer;
			transition: all 0.2s ease;
			&:hover {
				background-color: rgba(255,255,255,0.3);
				color: #fff;
			}
		}
	}
		a.reg-log {
			color: #fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
}
span.yo-email {
	display: block;
	text-align: center;
	margin: 0.5em auto;
	color: #000;
	overflow-wrap: break-word;
}

@media screen and (max-width: 600px) {
	#landing {
		// height: auto;
		margin: 1em auto;
		& > form {
			padding: 30px 20px 40px;
			label[for="remember_me"] {
				margin: 1em auto 1.5em;
			}
			p.btm-p {
				margin-bottom: 1em;
			}
		}
	}
	#landing-content {
		padding: 30px 20px;
	}
}

@media screen and (max-width: 800px) {
	#landing form input {
		height: auto;
	}
	#landing form input.submit {
		padding: 1em;
		height: auto;
	}
}



.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  // height: 80px;
  height: 48px;
  margin-top: -32px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}