#manage-wrap {
	width: 100%;
	height: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	line-height: 1.5em;
	padding: 100px 20px;
	
}
.confirm {
	text-align: center;
	font-size: 3.2em;
	margin-bottom: 0.3em;
	font-family: 'Special Elite', cursive;
	color: rgba(223,147,39,1);
	line-height: 1em;
	transition: all 0.2s ease;
	&.warning {
		color: rgba(222,44,13,1);
	}

}
.manage-simple {
	width: 100%;
	max-width: 900px;
	// text-align: justify;
	margin-bottom: 1em;
	border-bottom: 1px solid #fff;
	padding-bottom: 0.5em;
	position: relative;
	h1.my-meet {
		font-size: 1.4em;
		display: inline-block;
	}
	p.my-sort {
		display: inline-block;
		font-size: 0.8em;
		margin-left: 0.5em;
		margin-bottom: 0;
	}
	& > h1 {
		font-size: 1.4em;
		display: inline-block;
	}
	& > p {
		margin-bottom: 1em;
	}
	i.fa-exclamation-triangle {
		color: rgba(222,44,13,1);
		margin-right: 0.2em;
		font-size: 2em;
	}
	& > p.logout {
		bottom: 5px;
		right: 0px;
		text-align: right;
		padding: 1em 1em 0em;
		font-size: 0.75em;
		margin-bottom: 0;
		& > a {
			text-decoration: none;
			color: #fff; 
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&.review {
		border-bottom: none;
		a.done {
			margin: 1em auto;
			padding: 1em 2em;
			border: 1px solid #fff;
			background-color: rgba(64,178,8,1);
			color: #fff;
			text-decoration: none;
			display: flex;
			width: 80%;
			justify-content: center;
			align-items: center;
			&:hover {
				background-color: rgba(64,178,8,0.4);
			}
		}


		input.done {
			margin: 1em auto;
			padding: 1em 2em;
			border: 1px solid #fff;
			background-color: rgba(64,178,8,1);
			color: #fff;
			text-decoration: none;
			display: flex;
			width: 80%;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			padding: 1em;
			font-size: 1em;
			-webkit-appearance: none;
			&:hover {
				background-color: rgba(64,178,8,0.4);
			}
		}

	}	
	&.intro {
		padding: 0px 2em 0.6em;
	}
	&.empty {
		border-bottom: none;
		& > h1 {
			margin-bottom: 1em;
		}
	}
}
p.address-this {
	line-height: 1.5em;
	margin-bottom: 1em;
	color: #ffc2c2;
}
p.display-issues {
	border: 1px solid #cc0000;
	background-color: #ffc6c6;
  color: #c72222;
  line-height: 1.5em;
  padding: 1em;
  margin-bottom: 0.5em;
}
.manage-simple-admin {
	width: 100%;
	max-width: 900px;
	text-align: justify;
	margin-bottom: 1em;
	border-bottom: 1px solid #fff;
	padding-bottom: 0.5em;
	position: relative;
	display: flex;
	justify-content: space-between;
	& > h1 {
		font-size: 1.4em;
		display: inline-block;
	}
	& > p {
		// margin-bottom: 1em;
	}
	& > p.admin-email {
		text-align: right;
		padding-right: 2em;
		color: #fff;
		display: inline-block;
		& > a {
			color: #fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}

	}
}
.manage-simple-email {
	width: 100%;
	max-width: 900px;
	// text-align: justify;
	margin-bottom: 1em;
	padding: 1em;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}





form.email-updates {
	input[type="checkbox"] {
		// -webkit-appearance: none;
		// height: 1em;
		// width: 1em;
	}
	input[type="checkbox"],
	label {
		color: #f18282;
		cursor: pointer;
	}
	input[type="checkbox"]:checked + label {
		color: #96ff00;
		display: inline-block;
	}	
}






form.admin-email-form {
	width: 100%;
	max-width: 560px;
	font-size: 1em;
	line-height: 1.5em;
	.bccem {
		width: 100%;
		text-align: right;
		display: flex;
		justify-content: flex-end;
		a {
			cursor: pointer;
			text-align: center;
			padding: 0.5em 1em;
			width: 100%;
			max-width: 250px;
			border-radius: 3px;
			background-color: rgba(255,255,255,0.2);
			color: #fff;
			border: 1px solid #fff;
			transition: all 0.2s ease;
			&:hover {
				background-color: rgba(0,0,0,0.8);
			}
		}
	}
	.greeting-string {
		display: inline-block;
		margin-right: 1em;
	}
	label {
		display: block;
	}
	input[type="text"] {
		font-size: 1.1em;
	    border: 0;
	    padding: 0.2em;
	    width: 96%;
	    max-width: 28em;
	    margin-bottom: 1em;
	    display: block;
	}
	input[type="text"].greeting {
		font-size: 1.1em;
	    border: 0;
	    padding: 0.2em;
	    width: 6em;
	    max-width: 28em;
	    margin-bottom: 1em;
	    display: block;
	}
	textarea {
		width: 96%;
		max-width: 28em;
		height: 10em;
		padding: 0.2em;
		font-size: 1.1em;
		margin-bottom: 0.5em;
	}
	& > .update-rt {
		display: flex;
		justify-content: flex-end;
		width: 96%;
		& > a.cancel,
		& > input[type="submit"],
		& > input[type="submit"].revise-email {
			padding: 1em;
			background-color: rgba(0,0,0,1);
			text-decoration: none;
			color: #fff;
			border: 1px solid #fff;
			cursor: pointer;
			font-size: 1em;
			flex: 1;
			text-align: center;
			-webkit-appearance: none;
			transition: all 0.2s ease; 
			&:hover {
				background-color: rgba(255,255,255,0.2);
			}
		}
		& > a.cancel {
			margin-right: 1em;
		}
		& > input[type="submit"].submit-email {
			background-color: rgba(60,186,4,1);
			-webkit-appearance: none;
			&:hover {
			background-color: rgba(60,186,4,0.2);
			}
		}
		& > input[type="submit"].revise-email {
			margin-right: 1em;
		}
	}
}
a.ytv {
	color: rgba(150,255,0,1);
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
.email-everyone-review {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	color: #313131;
	line-height: 1.5em;
	width: 100%;
	max-width: 750px;
	padding: 2em;
	background-color: #fff;
	margin-bottom: 1em;
	box-shadow: 0px 0px 20px 12px rgba(0,0,0,0.9);
	h3 {
		margin-bottom: 0.5em;
		color: #757575;
		border-bottom: 1px solid #ccc;
	}
	h3.next {
		margin-top: 1em;
	}


}

@media screen and (max-width: 500px) {
	.manage-simple {
		&.intro {
			padding: 0px 0.2em 0.6em;
		}
	}
}
ul.manage-weekdays {
	width: 100%;
	max-width: 900px;
	& > h1.edit-h1 {
		margin-bottom: 1em;
	}
	div.manage-day-toggle {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		font-weight: normal;
		font-size: 1.2em;
		padding-left: 1em;
	}
	.day {
	    font-size: 1.5em;
	    font-weight: bold;
	    cursor: pointer;
	    background-color: inherit;
	    color: inherit;
	    border: none;
	    width: 100%;
	    padding: 0.2em;
	    outline: none;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    flex: 1;
	    transition: font-size 0.3s ease, background 0.5s ease;
	    &:hover {
			background-color: #fff;
		    color: #313131;
		    background: #6d94e1 url(_images/aa-logo-light.gif) no-repeat center center fixed;
		    background-size: cover;
		    background-attachment: fixed;    	
	    }
	}
}

.manage-glance-wrap {
	width: 100%;
	max-width: 900px;
	// need this wrap for margin-top
	// exclusively	
	margin-top: 1em;
	cursor: pointer;
}
.manage-glance {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	cursor: pointer;
	padding: 0.5em 1em;
	background-color: transparent;
	color: inherit;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid rgba(255,255,255,0.15);
	border-right: 1px solid transparent;
	&:hover {
		background-color: rgba(0,0,0,0.2);
	}
	.glance-mtg-time, {
		order: 1;
		padding: 0 1em 0 0;
		// width: 50%;
		// min-width: 150px;
		flex: auto;
	}
	.glance-group-title {
		order: 3;
		width: 100%;
		// line-height: 1.5em;
		flex: auto;
	}
	.glance-mtg-type {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-end;
		padding: 0em 0.5em 0em;
		order: 2;
		// width: 50%;
		padding: 0 1em;
		text-align: right;
		flex: auto;
		p {
			width: 100%;
			text-align: right;
		}
	}
	&.draft {// blue draft
		background-color: rgba(32,93,168,0.3);
	}
	&.personal {
		border-left: 1px solid #96ff00;
	}
	&.got-issues {
		background-color: rgba(216,18,18,0.8)
	}
}
.daily-glance.personal,
.daily-glance.personal-odin,
.daily-glance.personal-admin {
	border-left: 1px solid #96ff00;
}
.daily-glance.personal-other {
	border-left: 1px solid red;
}
.daily-glance-wrap.active > .daily-glance.personal {
	border-left: 1px solid transparent;
}

// .daily-glance .glance-mtg-type {
// 	padding: 0em 1em 0em 0em;
// }
// @media screen and (max-width: 800px) {
// 	.daily-glance .glance-mtg-time {
// 		padding-bottom: 0.5em;
// 	}
// 	.daily-glance .glance-mtg-type {
// 		padding: 0.5em 1em 0em 0em;
// 	}	
// }

.manage-glance-wrap-review {
	width: 100%;
	max-width: 900px;	
	margin-top: 1em;
	cursor: default;
}
.manage-glance-review {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	cursor: default;
	padding: 0.5em 1em;
	background-color: transparent;
	color: inherit;
    border-top: 2px solid #fff;
    border-bottom: dashed 1px #7e7e7e;
    background-color: #000;
    background-color: #000;
    color: #fff;
    background: #6d94e1 url(_images/aa-logo_active.gif) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
	&:hover {
		background-color: rgba(0,0,0,0.2);
	}
	.glance-mtg-time {
		order: 1;
		padding: 0 1em 0 0;
		// width: 50%;
	}
	.glance-group-title {
		order: 3;
		width: 100%;
		// line-height: 1.5em;
	}
	.glance-mtg-type {
		order: 2;
		// width: 50%;
		display: flex;
		justify-content: flex-end;
		flex-wrap: nowrap;
		// padding: 0em 1.5em 0em 0.5em;
		p {
			display: flex;
		}
	}
	&.draft {
		background: rgba(32,93,168,0.3);
	}
}
form.new-review {
	display: flex;
	flex-direction: column;
	padding: 1em;
	// align-items: center;
	label {
		padding: 1em 0.5em;
		cursor: pointer;
	}
	input[type="radio"] {
		width: 0em;
		height: 0em;
	}



	input:checked + span {
		color: #fff;
		font-weight: bold;
		background-color: rgba(32,93,168,1);
		padding: 0.5em 2em;
		display: inline-block;
		border-radius: 3px;
	}




}
a.manage-edit {
	color: rgba(255,255,255,1);
	transition: all 0.2s ease;
	margin-left: 1em;
	text-decoration: none;
	&:hover {
		color: rgba(150,255,0,1);
	}
}
a.manage-edit.off-limits {
	color: #757575;
	transition: all 0.2s ease;
	margin-left: 1em;
	text-decoration: none;
	cursor: default;
}
a.manage-edit.my-stuff {
	color: #757575;
	transition: all 0.2s ease;
	margin-left: 1em;
	text-decoration: none;
	cursor: default;
}
a.manage-edit.inline {
	margin-left: 0;
}
a.manage-delete {
	color: rgba(255,255,255,1);
	margin-left: 1em;
	transition: all 0.2s ease;
	&:hover {
		color: rgba(255,38,0,1);
	}
}	

.weekday-edit-wrap {
	width: 100%;
	max-width: 900px;
	padding: 0px 20px 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.3);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	.meeting-details {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 1em;
		position: relative;
		width: 98%;
		p.mtg-tz {
			width: 100%;
		}
		i.far.fa-edit {
			position: absolute;
			top: 5px;
			right: 5px;
			color: #fff;
			cursor: pointer;
		}
		p {
			line-height: 1.5em;
		}
		p.meet-time {
			font-size: 1.5em;
			margin-bottom: 0.5em;
		}
		p.id-num {
			// margin-top: 1.5em;
			margin-bottom: 0.75em;
		}
		.details-left {
			display: flex;
			flex-direction: column;
			width: 50%;
			padding: 1em;
			border-right: 1px solid rgba(255,255,255,0.2);
			& > p.phone-num01 {
				color: #fff;
				margin-top: 0.5em;
				margin: 0.5em 0 1.5em;
				& > i {
					margin-right: 0.5em;
				}
				& > a {
					color: #fff;
					text-decoration: none;
				}
			}
		}
		.details-right {
			display: flex;
			flex-direction: column;
			width: 50%;
			padding: 1em;
			p.add-info {
				text-decoration: underline;
				font-weight: bold;
				margin-bottom: 0.5em;
			}
			p.add-info.fixerror {
				color: #8b8586;
			}
			ul {
				list-style-type: disc;
				margin-left: 1em;
			}
			ul > li {
				line-height: 1.5em;
				margin-bottom: 0.5em;
			}
		}
		#add-note {
			width: 100%;
			padding: 30px;
			background: rgba(255,255,255,0.75);
			color: #313131;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 10px;
			border-top-left-radius: 0px;
			margin-top: 0.5em;
			& > p {
				text-align: left;
			}
		}
		#upload-links {
			width: 100%;
			margin: 1em 0em;
			padding: 1em;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			p.mtg-files {
				width: 100%;
				font-weight: bold;
				margin-bottom: 0.5em;
				text-decoration: underline;
				margin-bottom: 0.5em;
			}
			a.mtg-links {
				padding: 1em;
				width: 48%;
				margin: 0.5em 0;
				background-color: rgba(255,255,255,0.2);
				color: #fff;
				border-radius: 3px;
				text-align: center;
				text-decoration: none;
				transition: all 0.2s ease;
				&:hover {
					background-color: rgba(255,255,255,0.1);
				}
			}
		}
	}
	p.no-meet {
		text-align: center;
		padding: 50px;
	}

	form {
		display: flex;
		justify-content: flex-end;
	}
}
p.add-info {
	margin-top: 0.5em;
}
#map {
	width: 100%;
	height: 180px;
	margin-bottom: 1em;
}
a.map-dir {
	color: #313131;
	background-color: #fff;
	background-color: #5cd359;
	padding: 1em;
	width: 90%;
	margin: 0.5em auto;
	text-decoration: none;
	text-align: center;
	// border-radius: 3px;
	transition: all 0.2s ease;
	&:hover {
		background-color: #757575;
		background-color: #25d422;
		color: #fff;
		cursor: pointer;
	}
}
.glance-mtg-type i.fa-video,
.glance-group-title i.fa-video {
	color: #ea4335;
}
.glance-mtg-type i.fa-map-marker-alt,
.glance-group-title i.fa-map-marker-alt {
	color: #ea4335;
}
.glance-mtg-type i.fa-video,
.glance-group-title i.fa-video,
.glance-mtg-type i.fa-map-marker-alt,
.glance-group-title i.fa-map-marker-alt  {
	font-size: 0.8em;
	vertical-align: middle;
	margin: 0 0.5em 0 0;
}
form#manage-mtg .details-left {
	label {
		cursor: default;
	}
	input:focus,
	textarea:focus {
		outline: none;
	}
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  bottom: 100%;
  left: 50%;
  padding: 0.5em;
  line-height: 1.2em;
  width: 150px;
  margin-left: -75px; /* Use half of the width (120/2 = 60), to center the tooltip */
  /* Position the tooltip text - see examples below! */
  // border: 1px solid #fff;
  margin-bottom: 8px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1234562;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


.errors {
	padding: 1.5em;
	border-radius: 2px;
	border: 1px solid red;
	margin-bottom: 0.5em;
	background-color: rgba(255,255,255,0.9);
	background-color: rgba(111,23,23,0.9);
	color: #fff;
	ul li {
		list-style: disc;
		margin-left: 1em;
	}
	ul li.foobgar {
		background-color: rgba(255,255,255,0.1);
		color: #fff;
		padding: 1em;
		list-style: none;
		margin: 0.5em 0;
		em {
			font-style: italic;
		}
	}
}

a.new-mtg-btn {
	margin: 1em 0;
	padding: 1em 2em;
	color: #fff;
	background-color: rgba(0,0,0,0.9);
	background-color: rgba(64,178,8,1);
	border: 1px solid #fff;
	text-decoration: none;
	transition: all 0.2s ease;
	text-align: center;
	&:hover {
		background-color: rgba(255,255,255,0.4);
		background-color: rgba(64,178,8,0.4);
	}
}

form#manage-mtg {
	display: flex;
	flex-wrap: wrap;
	width: 98%;
	text-align: left;
	.top-info {
		width: 100%;
		margin: 0.5em 0;
	}
	.align-days {
		display: flex;
		flex-wrap: wrap;
	}
	.align-days.fixerror {
		background-color: rgba(255,189,192,1);
		padding: 0.2em;
	}
	.pdf-wrap.fixerror {
		border-radius: 0px;
		padding: 0.5em;
		color: #313131;
		border-color: red;
		label.pdf-label {
			color: #313131;
		}
		a:not(#toggle-link-label) {
			color: #fff;
			background-color: #4d4d4d;
			padding: 1em;
			text-decoration: none;
			cursor: pointer;
			transition: all 0.2s ease;
			&:hover {
				color: #fff;
				background-color: #000;
			}
		}
	}
	p.days-held {
		text-decoration: underline;
		font-weight: bold;
		margin-bottom: 0.5em;
	}
	p.time-held {
		text-decoration: underline;
		font-weight: bold;
		margin: 0.5em 0;
	}
	.mtg-days {
		display: inline-block;
	}
	input.fixerror, 
	textarea.fixerror {
		background-color: rgba(255,189,192,1);
	}
	input.timepicker {
		font-size: 1.1em;
		border: 0;
		padding: 0.2em;
		width: 6em;
		margin-bottom: 1em;
		text-align: center;
		&:focus {
			outline: none;
		}
	}
	span.fixerror,
	div.fixerror {
		background-color: rgba(255,189,192,1);
		padding: 0.5em 1.5em 0.5em 1em;
		border-radius: 3px;
	}
	input.mtg-update,
	input.mtg-update-url {
		font-size: 1.1em;
		border: 0;
		padding: 0.2em;
		width: 10em;
		margin-bottom: 1em;
	}
	input.mtg-update.group-name {
		width: 96%;
		max-width: 28em;
		&:focus {
			outline: none;
		}
	}
	input.mtg-update-url {
		width: 16em;
	}
	textarea#meet_url {
		width: 98%;
		max-width: 18em;
		height: 1.6em;
		resize: none;
		border: 0;
		padding: 0.2em;
		font-size: 1.1em;
		margin-bottom: 1em;
	}
	textarea#meet_addr {
		margin-bottom: 0.5em;
	}
	textarea#meet_addr,
	textarea#meet_desc {
		width: 98%;
		max-width: 18em;
		height: 4em;
		resize: none;
		border: 0;
		padding: 0.2em;
		font-size: 1.1em;
	}
	input:checked + span {
		color: #fff;
	}
	.fixerror input:checked + span,
	 {
		color: #313131;
		font-weight: bold;
	}
	input[type="checkbox"] {
		width: 1.5em;
		height: 1.5em;
		vertical-align: middle;
		color: gray;
	}
	input[type="checkbox"].fixerror {
		background-color: rgba(255,189,192,1);
	}
	input[type="checkbox"]:checked + label {
		color: #fff;
		display: inline-block;
	}
	label {
		cursor: pointer;
		line-height: 1.6em;
		color: gray;
	}
	label.vis,
	label.pdf-label {
		color: #fff;
	}
}
.btm-notes {
	width: 100%;
	.file-uploads {
		width: 100%;
		padding: 1em;
		border-top: 1px dotted rgba(255,255,255,0.6);
		border-bottom: 1px dotted rgba(255,255,255,0.6);
		margin: 1em 0;
		a#file-upload {
			color: #5dcb5d;
			text-decoration: none;
			cursor: pointer;
			transition: all 0.2s ease;
			&:hover {
				color: #fff;
			}
		}
		.pdf-wrap {
			display: flex;
			justify-content: space-between;
			padding: 0.5em;
			border: 1px solid rgba(255,255,255,0.5);
			background-color: rgba(255,255,255,0.2);
			scroll-margin-top: 3em;
			margin-bottom: 0.5em;
		}
		.pdf-remove {
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				color: #fff;
				background-color: #000;
				padding: 1em;
				text-decoration: none;
				cursor: pointer;
				transition: all 0.2s ease;
				&:hover {
					background-color: rgba(255,255,255,0.2);
				}
			}
		}
		.pdf-row {
			display: flex;
			flex-direction: column;
			
			input[type="file"] {

			}
			input[type="text"] {
				font-size: 1.1em;
		    border: 0;
		    padding: 0.2em;
		    width: 96%;
		    max-width: 10em;
			}
			input {
				margin: 0.5em 0;
				&:focus {
					outline: none;
				}
			}
		}
		p {
			color: rgba(255,255,255,0.6)
		}
		a.pdf-convert {
			color: #fff;
			&:hover {
				color: rgba(255,255,255,0.6);
			}
		}
	}
	textarea.meetNotes {
		width: 100%;
		font-size: 1.1em;
		height: 5em;
    padding: 0.5em 0.75em;
    background: rgba(255,255,255,1);
    color: #313131;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    margin-top: 0.5em;
    resize: none;
    margin-bottom: 1em;
    &:focus {
    	outline: none;
    }
	}
	.update-rt {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}
	.visible {
		display: flex;
		flex-direction: column;

	}
	input[name="update-mtg"],
	input[name="create-mtg"],
	input[name="delete-mtg"],
	input[name="review-mtg"],
	a.cancel {
		// background-color: rgba(0,0,0,0.9);
		font-family: Tahoma, Calbri, sans-serif;
		color: #fff;
		text-decoration: none;
		font-size: 1em;
		cursor: pointer;
		border: 1px solid #fff;
		padding: 1em 2em;
		margin: 0 0.5em;
		flex: 1;
		text-align: center;
		margin-top: 1.5em;
		-webkit-appearance: none;
		transition: all 0.2s ease;
	}
	a.cancel {
		color: #fff;
		background-color: rgba(0,0,0,1);
		&:hover {
			background-color: rgba(0,0,0,0.2);
		}
	}
    input[name="review-mtg"]  {
    	background-color: rgba(255,151,5,1);
    	margin-left: 0.5em;
    	-webkit-appearance: none;
    	&:hover {
    		background-color: rgba(255,205,5,1);
    		color: #fff;
    	}
    }
    input[name="update-mtg"]  {
    	background-color: rgba(32,168,32,1);
    	margin-left: 0.5em;
    	-webkit-appearance: none;
    	&:hover {
    		background-color: rgba(93,203,93,1);
    		color: #fff;
    	}
    }    	
    input[name="delete-mtg"]  {
    	background-color: rgba(222,44,13,1);
    	margin-left: 0.5em;
    	-webkit-appearance: none;
    	&:hover {
    		background-color: rgba(255,0,0,1);
    		color: #fff;
    	}
    }		
}



.visible {
    position: relative;
    border: 1px dashed rgba(255,255,255,0.3);
    padding: 1em;
    & > h1 {
    	width: 100;
    	text-align: center;
    	font-size: 1.6em;
    	font-weight: bold;
    	margin-bottom: 0.5em;
    }
}

.radio,
.radioz {
    display:block;
    width: 100%;
    padding: 1em;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.2);
    cursor:pointer;
    margin: 2px 0; 
    transition: all 0.2s ease;
    &:hover {
    	background-color: rgba(32,93,168,0.3); 
    }
}
.radio-bob {
    display:block;
    width: 100%;
    padding: 1em;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: default;
    margin: 2px 0;	
}
.radio.selected,
.radioz.selected {
    border-color: #fff;
    background-color: rgba(32,93,168,1);
}

.radioz.selected.user-suspended {
	background-color: rgba(132,22,22,1)
}




@media screen and (max-width: 1050px) {
	div.tooltip.right {
		// margin-left: -100px;
		.tooltiptext {
			margin-left: -135px;
		}
		.tooltiptext::after {
			left: 90%;
		}
		
	}
}

@media screen and (max-width: 800px) {
	.confirm {
		font-size: 2.5em;
	}
	.manage-simple {
		text-align: left;
	}
	.manage-glance-wrap-review .manage-glance-review {
		// flex-direction: column;

	}
	.manage-glance-review .glance-group-title {
		margin: 0.5em 0;
		width: 100%;
	}
	// .manage-glance .glance-mtg-type {
	// 	padding: 0 0.25em;
	// }
	// .manage-glance .glance-mtg-time {
	// 	width: 100%;
	// }
	.manage-glance .glance-group-title {
		width: 100%;
	}
	form#manage-mtg {
		flex-direction: column;
	}
	.weekday-edit-wrap .meeting-details .details-right {
		// padding: 1em 0em;
		padding: 0em;
		width: 100%;
	}
	.weekday-edit-wrap .meeting-details .details-left {
		border-right: 0px;
		border-bottom: 1px solid rgba(255,255,255,0.2);
		// padding: 1em 0em;
		padding: 0em;
		width: 100%;
	}
	.weekday-wrap .meeting-details .details-right.rt-stacked,
	.weekday-edit-wrap .meeting-details .details-right.rt-stacked {
		padding-top: 1.5em;
	}
	.weekday-wrap .meeting-details .details-left.l-stacked,
	.weekday-edit-wrap .meeting-details .details-left.l-stacked {
		border-bottom: none;
	}
	.weekday-edit-wrap,
	.weekday-wrap {
		.meeting-details {
			.details-right p.add-info {
				margin-top: 2em;
			}
			#upload-links {
				margin: 2em 0;
				padding: 0;
				a.mtg-links {
					width: 100%;
					margin: 0.25em 0;
					padding: 1.25em 0.5em;
				}
			}
		}
	}
	form#manage-mtg input.mtg-update, form#manage-mtg input.mtg-update-url {
		width: 100%;
	}

	form#manage-mtg .update-rt {
		justify-content: center;
	}
	.weekday-edit-wrap .delete-record {
		justify-content: center;
		padding: 0px;
	}
	.btm-notes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		.pdf-wrap {
			flex-direction: column;
		}
		.file-uploads {
			padding: 0;
			margin-bottom: 1em;
		}
		.visible {
			padding: 1em 0em;
		}
	}
	.weekday-edit-wrap form {
		flex-direction: column;
		width: 100%;
		.btm-notes {
			input[name="delete-mtg"] {
				padding: 1em 2em;
				margin: 0 0 0.5em;
			}			
		}
		.btm-notes .update-rt {
			justify-content: center;

			a {
				width: 100%;
			}
		}
	}

	.manage-glance .glance-group-title {
		padding: 0em;
		align-self: flex-start;
		margin: 0.5em 0;
	}

	.manage-glance .glance-mtg-type {
		// padding: 0em;
		// justify-content: center;
		text-align: right;
		align-self: flex-end;
		// overflow-x: hidden;
	}

	.daily-glance .glance-mtg-time {
		padding-bottom: 0.5em;
	}
	.daily-glance .glance-mtg-type {
		padding: 0.5em 1em 0em 0em;
	}	

	ul.manage-weekdays div.manage-day-toggle {
		padding: 0.5em;
	}
	a.manage-edit {
		margin-left: 1.6em;
	}
	a.manage-delete {
		margin-left: 1.6em;
	}
	a.map-dir {
		// padding: 1.5em;
	}
	// a.zoom {
	// 	padding: 1.5em 1em;
	// 	width: 90%;
	// 	display: block;
	// 	margin: 0 auto;
	// }
	// .zoom-id {
	// 	width: 50%;
	// 	min-width: 250px;
	// 	padding: 0.75em 0.5em 0.75em 1em;
	// }
}
span.contact-update-message {
  width: 100%;
  display: block;
  text-align: center;
  padding: 16px 10px 16px 15px;
  margin: 60px auto -40px auto;
  border: 3px solid green;
  color: green;
  background-color: #fff;
}

@media screen and (max-width: 360px) {
	form#manage-mtg .align-days {
		flex-direction: column;
		flex-wrap: nowrap;
	}
}


// see end of _user-management.scss for the
// final say in all this...
.daily-glance .glance-mtg-time {
	flex: 1;
	// align-items: center;
}
.daily-glance .glance-group-title {
	flex: 4;
	// align-items: center;
}
.daily-glance .glance-mtg-type {
	flex: 2;
	// align-items: center;
	justify-content: flex-end;
}
.tooltip .tooltiptext.type {
	margin-left: -80px;
}
