a#toggle-lat-long-msg,
a#toggle-descriptive-location,
a#toggle-pdf-info,
a#toggle-link-label,
a#toggle-role-key,
a#gottajoin {
  cursor: pointer;
  color: #5dcb5d;
  &:hover {
    color: #fff;
  }
}
a#toggle-role-key {
  color: #bccdd1;
  color: rgba(255,255,255,0.4);
  padding: 0px;
  margin-left: 0.5em;
  font-size: 1.2em;
  background-color: transparent;
  width: auto;
  transition: all 0.2s ease;
  &:hover {
    background-color: transparent;
    color: #fff;
  }
}
@media screen and (max-width: 700px) {
  a#toggle-role-key {
    &:hover {
      color: rgba(255,255,255,0.4);
    }
  }
}
a#gmaps {
  color: #fff;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

#msg-one,
#gottajoin,
#lat-long,
#desc-loc,
#pdf-upload,
#link-label,
#role-key,
#why-join,
#mb-notes {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 82;

  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .msg-bkg {
    position: relative;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0px;
  }

 .inside-msg-one {
    position: relative;
    padding: 50px;
    background-color: rgba(44,73,106,0.99);
    width: 80%;
    max-width: 900px;
    margin-bottom: 20px;
    ul {
      list-style: disc;
      margin: 0.5em 0 0 1.5em;
      li {
        line-height: 1.5em;
        em {
          // font-weight: bold;
          color: #ffc8c8;
          letter-spacing: 1px;
          font-size: 1.2em;
        }
      }
    }
    & > i {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #fff;
      font-size: 1.3em;
    }
    i.fa-peace {
      font-size: 2em;
    } 
    p.peace-sign {
      width: 100%;
      text-align: center;
    }
    & > h1 {
      font-size: 1.3em;
      margin-bottom: 0.5em;
      line-height: 1.3em;
    }
    p {
      color: #fff;
      line-height: 1.5em;
      margin-top: 1em;
    } 
    & > hr {
      margin: 1em auto;
      width: 90%;
    }
    a.pdf {
      color: #fff;
      transition: all 0.2s ease;
      &:hover {
        color: rgba(255,255,255,0.6);
      }
    }
    p.info-links {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      align-items: center;
      justify-content: space-evenly;
      margin: 1.5em auto 1em auto;
      & > a {
        color: #fff;
        background-color: rgba(44,119,120,1);
        border: 1px solid #fff;
        padding: 15px;
        margin-bottom: 1em;
        display: flex;
        flex: 2 1 auto;
        margin: 0.5em;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.2s ease;
        box-shadow: 0 18px 6px -6px rgba(0,0,0,0.5);
      outline: none;
        &:hover {
          background-color: rgba(44,119,120,0.5);
        }          
      }
    }
    p.aa-link {
      margin-top: 1.5em;
    }
    a.bingo {
      color: #fff;
      text-decoration: underline;
      padding: 0px;
      &:hover {
        text-decoration: none;
      }
    }
    p.daccaa-ctr {
      width: 100%;
      text-align: center;
      display: block;
    }
    a.daccaa {
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      background-color: #7088a4;
      transition: all 0.2s ease;
      box-shadow: 0 18px 6px -6px rgba(0,0,0,0.5);
      outline: none;
      margin: 1.5em auto;
      &:hover {
        background-color: #a3abb4;
        color: #fff;
      }
    } 
  } 
}

a.youtube {
  color: #fff;
  text-decoration: uderline;
  &:hover {
    text-decoration: none;
  }
}
@media screen and (max-width: 800px) {
  #msg-one,
  #lat-long,
  #desc-loc,
  #pdf-upload,
  #link-label,
  #role-key {
    .msg-bkg {
      justify-content: flex-start;
      overflow-y: auto;
      padding-top: 50px;
      padding: 50px 0px 0px;
    }
    .inside-msg-one {
      padding: 45px 25px 50px;
      width: 92%; 
      margin-bottom: 120px;
      & > i {
        top: 10px;
        right: 10px;
      }           
      p.aa-link {
        
      }
      p.info-links {
        margin-bottom: 2em;
        & > a {
        
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  #msg-one,
  #lat-long,
  #desc-loc,
  #pdf-upload,
  #link-label,
  #role-key {
    .msg-bkg {
      // padding: 0px;
    }
    .inside-msg-one {
      p.aa-link {
        margin-bottom: 3em;
      }
    }
  } 
}