nav {
position: fixed;
top: 0;
right: 0;
left: 0;
width: 100%;
display: flex;
justify-content: center;
margin-top: -1em;
z-index: 1234580;
& > ul {
width: 96%;
max-width: 1050px;
li {
display: inline-block;
width: 98px;
& > a {
position: absolute;
padding: 8px 0px 8px 0px;
width: 100px;
cursor: pointer;
text-align: center;
background-color: rgba(0,0,0,1);
color: #fff;
border-top: none;
border-right: 1px solid #fff;
border-bottom-right-radius: 3px;
border-bottom: 1px solid #fff;
border-bottom-left-radius: 3px;
border-left: 1px solid #fff;
transition: all 0.1s ease;
&:hover {
	background-color: rgba(0,0,0,0.5);
	padding: 12px 0px 8px 0px;
	}
}
& > a.why-join {
background-color: red;
background-color: rgba(255,76,76,1);
&:hover {
background-color: rgba(255,76,76,0.3);
	}
}
& > a.login {
background-color: rgba(212,232,218,1);
&:hover {
background-color: rgba(212,232,218,0.3);
				}
			}
		}
	}
}
@media screen and (max-width: 800px) {
nav {
position: fixed;
top: inherit;
bottom: 0;
left: inherit;
right: inherit;
margin-top: 0;
height: 1px;
& > ul {
display: flex;
justify-content: center;
li:nth-child(1) {
// margin-right: 1em;
}
li {
display: inline-block;
width: 5em;
// height: 3em;
margin: 0 5px;
& > a {
position: absolute;
padding: 0.65em;
margin-top: -2.5em;
width: 5em;
cursor: pointer;
text-align: center;
background-color: rgba(0,0,0,1);
color: #fff;
border-top: 1px solid #fff;
border-top-right-radius: 3px;
border-right: 1px solid #fff;
border-bottom-right-radius: 3px;
border-bottom: 1px solid #fff;
border-bottom-left-radius: 3px;
border-left: 1px solid #fff;
border-top-left-radius: 3px;
// border-radius: 3px;
// border: 1px solid #fff;
transition: all 0.2s ease;
outline: none;
&:hover {
	background-color: rgba(0,0,0,1);
	padding: 0.65em;
	}
}
& > a.why-join {
background-color: red;
background-color: rgba(255,76,76,1);
&:hover {
	background-color: red;
	background-color: rgba(255,76,76,1);
					}
				}
			}
		}
	}	
}