#navigation {
	top: 0;
	// left: 0;
	text-align: right;
	width: 96%;
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	z-index: 78;
	position: relative;
	.top-nav {
		position: fixed;
		cursor: pointer;
		background-color: rgba(0,0,0,1);
		color: #fff;
		padding: 0.5em 1em 0.5em 1em;
		// margin-top: -0.25em;
		border-top: none;
		border-right: 1px solid rgba(255,255,255,0.6);
		border-bottom-right-radius: 3px;
		border-bottom: 1px solid rgba(255,255,255,0.6);
		border-bottom-left-radius: 3px;
		border-left: 1px solid rgba(255,255,255,0.6);
		transition: all 0.2s ease;
		&:hover {
			padding-top: 0.75em;
			background-color: #313131;
			color: #fff;
		}
		.tooltip {
			position: absolute;
			right: -0.4em;
			bottom: -0.4em;
		}
		.tooltip .tooltiptext {
			position: static;
		}
		i.fa-star {
			color: gold;
		}
    &.new-action {
      background-color: #98e22b;
    }
	}



  .phperror {
    position: fixed;
    top: 0;
    width: 96%;
    max-width: 55px;
    display: flex;
    margin-right: 120px;
    cursor: pointer;
    background-color: red;
    color: #fff;

    // border-top: none;
    // border-right: 1px solid rgba(255,255,255,0.6);
    // border-bottom-right-radius: 3px;
    // border-bottom: 1px solid rgba(255,255,255,0.6);
    // border-bottom-left-radius: 3px;
    // border-left: 1px solid rgba(255,255,255,0.6);


    transition: all 0.2s ease; 
    a.per {
      color: #fff;
      padding: 0.5em 1em 0.5em 1em;
      transition: all 0.2s ease;
      &:hover {
        padding-top: 0.75em;
        background-color: red;
      }
    }


    &.on {
      border-top: none;
      border-right: 1px solid rgba(255,255,255,0.6);
      border-bottom-right-radius: 3px;
      border-bottom: 1px solid rgba(255,255,255,0.6);
      border-bottom-left-radius: 3px;
      border-left: 1px solid rgba(255,255,255,0.6);
    }


  }


	.top-nav.admin-logged {
		background-color: gold;
		color: #000;
		border-right: 1px solid rgba(255,246,0,1);
		border-bottom: 1px solid rgba(255,246,0,1);
		border-left: 1px solid rgba(255,246,0,1);		
    &.new-action {
      background-color: #98e22b;
    }
	}
  .top-nav,
  .top-nav.admin-logged {
    &.errorsfound {
      background-color: red;
    }
  }
}
// @media screen and (max-width: 600px) {
//   #navigation {
//     .phperror {
//       a.per {
//         padding: 0.51em 1em 0.51em 1em;
//       }
//     }
//   }
// }

#navigation.sm-g .top-nav {
	width: 6em;
}
.menu-basket {
	position: relative;
}
.bar-box {
	position: relative;
}
.top-nav .bars {
	top: 0.42em;
}

.top-nav .bars,
.top-nav .bars:before,
.top-nav .bars:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 17px;
  background: #fff; // for member
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
.top-nav.admin-logged .bars,
.top-nav.admin-logged .bars:before,
.top-nav.admin-logged .bars:after {
  background: #000; // for admin
}



.top-nav .bars:before {
  top: -6px;
}
.top-nav .bars:after {
  bottom: -6px;
}
.top-nav.acty .bars {
  background-color: transparent;
}
.top-nav.acty .bars:before, .top-nav.acty .bars:after {
  top: 0;
}
.top-nav.acty .bars:before {
  transform: rotate(45deg);
}
.top-nav.acty .bars:after {
  transform: rotate(-45deg);
}





#side-nav-bkg {
	z-index: 81;
	// background-color: green;
	display: flex;
	justify-content: flex-end;
	transition: 0.6s;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	position: fixed;
	top: 0;
	display: flex;
	// flex-direction: column;
}

.sidenav {
	display: flex;
	flex-direction: column;
	// justify-content: flex-end;
  height: 100%;
  min-height: 100vh;
  width: 0; /* 0 width - change with JS */

  // for testing
  // width: 300px;

  position: relative; 
  z-index: 80;
  top: 0;
  right: 0;
  background-color: #111;
  background-color: rgba(0,0,0,0.9);
  overflow-x: hidden; 
  transition: 0.5s; /* slide in the sidenav */
  // overflow-y: hidden;
	#sidenav-wrapper {
		display: flex;
		flex-direction: column;
		position: relative;
		padding-top: 2em;
		width: 300px; // match JS width
		flex: 1; // to stretch 100% height
		// overflow-y: hidden; // set on .sidenav

		i {
			margin-right: 0.5em;
		}
    i.fa-moon,
    i.fa-lightbulb {
      margin-right: 0;
    }
	}
	.admin-role,
	.visitor-role,
	.member-role,
	.sus-user {
		width: 300px;
		// has to be set to prevent from collapsing when menu slides shut.
		display: flex;
		align-items: center;
	}
	.admin-role {
		padding: 1em 0em 1em 1.5em;
		font-size: 0.8em;
		color: #818181;
		background-color: rgba(255,215,0,0.6);
		color: #fff;
		cursor: default;
    &.err-on {
      background-color: #ff0000;
      cursor: pointer;
      cursor: pointer;
      margin-bottom: 3px;
      transition: all 0.2s ease;
      &:hover {
        background-color: #ab0000;
      }
    }
    &.err-off {
      cursor: default;
      margin-bottom: 3px;
      background-color: transparent;
    }


    .del-err {
      // background-color: #ff0000;
      // cursor: pointer;
      // transition: all 0.2s ease;
      &:hover {
        // background-color: #ab0000;
      }
      i {
        margin-right: 0.5em;
        font-size: 1.2em;
      }
    }







	}
	.visitor-role,
	.member-role {
		padding: 1em 0em 1em 1.5em;
		font-size: 0.8em;
		color: #818181;
		background-color: #101b2c;
		color: #8d8d8d;
		cursor: default;
	}
	.member-role {
		word-wrap: break-word;
		// line-height: 1.2em;
	}
	.sus-user {
		padding: 1em 0em 1em 1.5em;
		font-size: 0.8em;
		color: #818181;
		background-color: #841616;
		color: #8d8d8d;
		cursor: default;
	}	
	a { 
		cursor: pointer;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 1em 1em 1em 1.5em;
		background-color: transparent;
	  text-decoration: none;
	  color: #818181;
	  transition: all 0.2s ease;
	  &:hover {
	   	color: #f1f1f1;
	   	background-color: rgba(255,255,255,0.5);
	   	color: #fff;
	  }
    &.theme-nav {
      display: inline;
    }
	}
	a.nav-active {
		cursor: default;
		background-color: rgba(255,255,255,0.3);
	  color: #fff; 
	}
  a.closebtn {
  	width: 100%;
  	padding-left: 0.75em;
  	margin-bottom: 0.75em;
  	display: flex;
  	justify-content: flex-start;
	  cursor: pointer;
	  text-align: left;
	  .ctxt {
	  	color: transparent;
	  	//transition: color 0.2s ease-in;
	  }
	  i {
	  	font-size: 1.5em;
	  	transform: rotate(270deg);
	  	animation: in .25s 2 linear;
	  	transition: color 0.65s ease;
	  }
	  &:hover {
	  	.ctxt {
	  		color: rgba(0,0,0,0.9);
	  		// transition: color 0.2s ease-in;
	  	}
	  	 .ctd {
		  	transition-delay: 0.5s;
		  }	
		  i {
		  		color: #fff;
		  		animation: out .5s 1 linear;
		  }
	  }
	}	
  .theme-nav {
    display: flex;
    align-items: center;
    a {
      width: auto;
      &.light,
      &.dark {
        display: flex;
        justify-content: center;
        padding: 0.5em;
        width: 50px;
        border-radius: 5px;
        margin: 0.5em;
        &.nav-active {
          background-color: rgba(255,255,255,0.2);
        }
      }
      // &.light.nav-active {
      //   color: #ffff00;
      // }
    }
    .current-theme {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: default;
      margin-left: 0.5em;
      // font-size: 0.7em;
      h4 {
        font-size: 0.7em;
        
      }
      p {
        font-size: 0.6em;
        margin-bottom: 3px;
      }
    }
  }
	a.admin-login,
	a.admin-logout {
		cursor: pointer;
	}
	a.admin-login {
		color: gold;
	}
	a.admin-logout {
		color: #c30808; 
	}
	a.login {
		i {
			color: #96ff00;
		}
		color: #818181;
		&:hover {
			i {
				color: #fff;
			}
			background-color: #2b8719;
			color: #fff;
		}
	}
	a.logout {
		i {
			color: #c30808;
		}
		color: #818181;
		margin-top: 2em;
		&:hover {
			i {
				color: #fff;
			}
			background-color: #890404;
			color: #fff;
		}
	}
	a.cc-x {
		cursor: pointer;
		font-size: 0.75em;
		margin-top: 2em;
		border-top: 1px dashed rgba(255,255,255,0.2);
	}
	a.cc-x.eotw {
		margin-top: 0;
		margin-bottom: 2em;
	}
  a.cc-x.ial {
    margin-top: -2em;
    margin-bottom: 0em;
    &.nav-active {
      cursor: default;
    }
  }
	i.fa-star {
		color: gold;
	}


}
.admin-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  i.fa-star {
    font-size: 1em;
    padding: 0em 0.5em 0em;
    margin-left: -0.5em;
    color: #98e22b;
  }
}


.sidenav a.tc-cc-x {
  font-size: 0.75em;
  padding: 0.5em 1em 0.5em 1.5em;
  cursor: default;
  &:hover {
    color: #818181;
    background-color: inherit;
  }
}











// .sidenav span a.tc-cc-xyz,
// .sidenav .no-frills {
//   display: inline;
//   font-size: 0.75em;
//   color: #818181;
// }
// .sidenav a.tc-cc-xyz {
//   padding: 1em 0em 1em 1.5em;
//   &:hover {
//     background-color: inherit;
//   }
// }


.sidenav .no-frills {
  display: flex;
  font-size: 0.75em;
  color: #818181;
  padding: 1em 0em 1em 2.5em;
  a.ip-css {
    width: auto;
    margin: 0 0.25em;
    padding: 0em;
    color: inherit;
    transition: all 0.2s ease;
    &:hover {
      color: #fff;
      background-color: transparent;
    } 
  }
}












@keyframes in {
    0%   { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
@keyframes out {
    from   { transform: rotate(0deg); }
    to { transform: rotate(360deg);}
}
@-webkit-keyframes in {
    0%   { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@-webkit-keyframes out {
    from   { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes in {
    0%   { -moz-transform: rotate(360deg); }
    100% { -moz-transform: rotate(0deg); }
}
@-moz-keyframes out {
    from   { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg);}
}
@-ms-keyframes in {
    0%   { -ms-transform: rotate(360deg); }
    100% { -ms-transform: rotate(0deg); }
}
@-ms-keyframes out {
    from   { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg);}
} 


// remove all hover on mobile
@media screen and (max-width: 767px) {
	.sidenav a:hover {
		background-color: inherit;
		color: #818181;
	}
	.sidenav a.nav-active {
		&:hover {
			background-color: rgba(255,255,255,0.3);
			color: #fff;
		}
	}
	.sidenav a.admin-logout {
		&:hover {
			color: #c30808;
		}
	}
	.sidenav a.logout {
		&:hover {
			background-color: inherit;
			color: #818181;
		}
	}
	.sidenav a.logout:hover i {
		color: #c30808;
	}
	.admin-role {
		margin-bottom: 25vh;
	}
	a#toggle-role-key { 
		&:hover {
			// see: _msg-one.scss
		}
	}
}





@media screen and (min-width: 601px) {
	#navigation.lg-g {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	#navigation {
		width: 90%;
		.top-nav {
			padding: 0.55em 1.25em;
		}
    .phperror {
      margin-right: 80px;
      a.per {
        padding: 0.55em 1em 0.5em 1em;
        &:hover {
          padding-top: 0.75em;
          background-color: red;
        }
      }
    } 
	}
	#navigation.sm-g {
		display: none;
	}
	.sidenav {
		#sidenav-wrapper {
			padding-top: 1em;
		}
		background-color: #000;
		a {
			padding: 1.6em 1.5em;
		}
		a.closebtn {
			padding: 0.5em 1.5em;
		}
	}
}

@media screen and (max-height: 450px) {
  .sidenav {
  	padding-top: 15px;
  	a {
  		font-size: 18px;
  	}
  }
}
p.logout {
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

a.apr {
	position: relative;
}
.new-item {
	transform: rotate(-45deg);
	font-size: 0.8em;
	color: #a6e22b;
	z-index: 100;
	position: absolute;
	top: 1em;
	left: 0.5em;
}



#ct-dark,
#ct-bright {
  white-space: nowrap;
  display: none;
  // width: 100%;
}