#navigation {
	top: 0;
	// left: 0;
	text-align: right;
	width: 96%;
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	z-index: 78;
	span.top-nav {
		position: fixed;
		cursor: pointer;
		background-color: rgba(0,0,0,1);
		color: #fff;
		padding: 0.5em 1em 0.5em 1em;
		// margin-top: -0.25em;
		border-top: none;
		border-right: 1px solid rgba(255,255,255,0.6);
		border-bottom-right-radius: 3px;
		border-bottom: 1px solid rgba(255,255,255,0.6);
		border-bottom-left-radius: 3px;
		border-left: 1px solid rgba(255,255,255,0.6);
		transition: all 0.2s ease;
		&:hover {
			padding-top: 0.75em;
			background-color: #313131;
			color: #fff;
		}
	}
	span.top-nav.admin-logged {
		background-color: gold;
		color: #000;
		border-right: 1px solid rgba(255,246,0,1);
		border-bottom: 1px solid rgba(255,246,0,1);
		border-left: 1px solid rgba(255,246,0,1);		
	}
}	

.sidenav {
	display: flex;
	flex-direction: column;
  height: 100%;
  width: 0; /* 0 width - change with JS */

  // for testing
  // width: 300px;

  position: fixed; 
  z-index: 80;
  top: 0;
  right: 0;
  background-color: #111;
  background-color: rgba(0,0,0,0.9);

  // this puts a 1px border down the side of the entire page.
  // border-right: 1px solid #fff;
  overflow-x: hidden; 
  // padding-top: 2em; 
  transition: 0.5s; /* slide in the sidenav */
  white-space: nowrap;
  overflow-y: hidden;
	#sidenav-wrapper {
		padding-top: 2em;
		width: 300px; // match JS width
		flex: 1; // to stretch 100% height
		// overflow-y: hidden; // set on .sidenav
		i {
			margin-right: 0.5em;
		}
	}
	.admin-role {
		padding: 1em 0em 1em 1.5em;
		font-size: 0.8em;
		color: #818181;
		background-color: rgba(255,215,0,0.6);
		color: #fff;
		cursor: default;
	}
	a { 
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 1em 1em 1em 1.5em;
		background-color: transparent;
	  text-decoration: none;
	  color: #818181;
	  transition: all 0.2s ease;
	  &:hover {
	   	color: #f1f1f1;
	   	background-color: rgba(255,255,255,0.5);
	   	color: #fff;
	  }
	}
  a.closebtn {
  	width: 100%;
  	padding-left: 0.75em;
  	margin-bottom: 0.75em;
  	display: flex;
  	justify-content: flex-start;
	  cursor: pointer;
	  text-align: left;
	  i {
	  	font-size: 1.5em;
	  	transform: rotate(270deg);
	  	animation: in .25s 2 linear;
	  	&:hover {
	  		animation: out .5s 1 linear;
	  	}
	  }
	}	
	a.admin-login {
		color: gold;
	}
	a.admin-logout {
		color: #c30808; 
	}
	a.login {
		i {
			color: #96ff00;
		}
		color: #818181;
		&:hover {
			i {
				color: #fff;
			}
			background-color: #2b8719;
			color: #fff;
		}
	}
	a.logout {
		i {
			color: #c30808;
		}
		color: #818181;
		margin-top: 2em;
		&:hover {
			i {
				color: #fff;
			}
			background-color: #890404;
			color: #fff;
		}
	}
	a.cc-x {
		cursor: pointer;
		font-size: 0.75em;
		margin-top: 2em;
		border-top: 1px dashed rgba(255,255,255,0.2);
	}
	a.cc-x.eotw {
		margin-top: 0;
	}
}

@keyframes in {
    0%   { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
@keyframes out {
    from   { transform: rotate(0deg); }
    to { transform: rotate(360deg);}
}
@-webkit-keyframes in {
    0%   { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@-webkit-keyframes out {
    from   { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes in {
    0%   { -moz-transform: rotate(360deg); }
    100% { -moz-transform: rotate(0deg); }
}
@-moz-keyframes out {
    from   { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg);}
}
@-ms-keyframes in {
    0%   { -ms-transform: rotate(360deg); }
    100% { -ms-transform: rotate(0deg); }
}
@-ms-keyframes out {
    from   { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg);}
} 
@media screen and (min-width: 601px) {
	#navigation.lg-g {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	#navigation {
		width: 90%;
		span.top-nav {
			padding: 0.55em 1.25em;
		}
	}
	#navigation.sm-g {
		display: none;
	}
	.sidenav {
		#sidenav-wrapper {
			padding-top: 1em;
		}
		background-color: #000;
		a {
			padding: 1.6em 1.5em;
		}
		a.closebtn {
			padding: 0.5em 1.5em;
		}
	}
}

@media screen and (max-height: 450px) {
  .sidenav {
  	padding-top: 15px;
  	a {
  		font-size: 18px;
  	}
  }
}
p.logout {
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}