// preloader
.no-js #loader { 
  display: none;  
}
.js #loader { 
  display: block; 
  left: 100px; 
  top: 0; 
}
.preload.anni {
  background-color: #2a2826;
}
.preload img {
  width: 90%;
  max-width: 500px;
  .plbkg {
    display: none;
  }
}
.preload,
.preload-manage,
.set-tz {
  position: fixed;
  // left: 0px;
  // top: -33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: rgba(29,29,29,1);
  background-color: #2a2826;
  width: 100%;
  height: 100%;
  height: 100vh;
  z-index: 4567891;
  // background: url(_images/preload-06.gif) center no-repeat #1d1d1d;
  & > p {
    font-family: 'Caveat', cursive;
    font-size: 3em;
    color: #fff;
  }
  & > i {
    font-size: 2em; 
    margin-top: 0.5em;

  }
}
.set-tz {
  background-color: rgba(0,0,0,0.8);
  font-family: Tahoma, Calbri, sans-serif;
  z-index: 4567890;
  .tz-box {
    display: flex;
    flex-direction: column;
    width: 96%;
    max-width: 600px;
    padding: 1em;
    line-height: 1.5em;
    h3 {
      width: 100%;
      background-color: #2e3136;
      color: #fff;
      font-size: 1.25em;
      padding: 0.25em 1em;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }  
    .tz-content {
      width: 100%;
      padding: 1em;
      background-color: rgba(44,62,95,1);
      color: #fff;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      p.next-p {
        margin-top: 1em;
      }
      form {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        select.pick-tz {
          font-size: 1em;
          padding: 0.5em;
          outline: none;
          cursor: pointer;
          background-color: #313131;
          -webkit-appearance: none;
          color: #fff;
          option { 
            margin: 0 auto;
            cursor: pointer;
            color: #fff;
            background-color: #313131;
            // -webkit-appearance: none;
            &:hover {
              cursor: pointer;
            }
          }
        }
        input,
        a.btn {
          text-align: center;
          margin-top: 1em;
          -webkit-appearance: none;
          border: 1px solid rgba(255,255,255,0.9);
          padding: 1em;
          font-size: 1em;
          cursor: pointer;
          background-color: #34844e;
          color: #fff;
          transition: all 0.2s ease;
          &:hover {
            background-color: #1b9a0a;
          }
        }
        a#hide-tz {
          text-align: center;
          margin-top: 0.5em;
          background-color: #313131;
          &:hover {
            background-color: #757575;
          }
        }
      }
    }  
  }
}
@media screen and (max-width: 600px) {
  .preload,
  .preload-manage {
    & > p {
      font-size: 2em;
    }
  }
  .set-tz {
    .tz-box {
      padding: 0.25em;
    }
  }
}