// new


body {
  background-color: #f5f7fb;
  color: #757575;
}
.preload-dev,
.preload-dev.anni,
.preload.anni,
.preload {
  background-color: #f5f7fb;
  p {
    // color: #628dcf;
    color: #21b3a1;
  }
}
button.verified,
a.verified {
  background-color: #25d422;
  &:hover {
  background-color: #1da61b;
  }
}
#navigation .top-nav {
  background-color: #fff;
  color: #313131;
  border-color: #757575;
  &:hover {
    background-color: #fff;
    color: #313131;
  }
  &.admin-logged {
    border-color: #d5b400;
    &:hover {
      background-color: #ffd700;
    }
  }
}
.top-nav .bars,
.top-nav .bars:before,
.top-nav .bars:after {
  background: #313131;
}
.sidenav {
  background-color: #fff;
  background-color: rgba(255,255,255,0.85);
  color: #757575;
  border-left: 1px solid #dfdfdf;
  a.cc-x {
    border-color: #ccc;
  }
  a:hover {
    background-color: rgba(79,185,247,0.8);
  }
  a.nav-active {
    background-color: rgba(79,185,247,0.3);
    color: #757575;
  }
  a.login i {
    // color: #2b8719;
    color: #3dbd24;
  }
  .theme-nav a.light.nav-active {
    // color: #757575;
    color: #fff;
    background-color: rgba(79,185,247,0.8);
  }
  a.admin-login {
    color: rgba(147,125,6,1);
    &:hover {
      color: #ffff00;
    }
  }
  .admin-role {
    background-color: rgba(147,125,6,1);
  }
}
.sidenav a.closebtn {
  color: #44a5cd;
}
.sidenav a.closebtn:hover .ctxt {
  color: #fff;
}
.daily-glance {
  color: #757575;
  &:hover {
    background-color: rgba(255,255,0,0.5);
  }
  .active {
    color: #313131;
  }
}
.daily-glance-wrap.active,
.manage-glance-wrap.active {
  background: #ffffff url(_images/aa-logo_day-active.gif) no-repeat center center fixed; // yellow
  background-size: cover;
  background-attachment: fixed;  
}





@media screen and (max-width: 800px) {
  .daily-glance-wrap {
    background-color: rgba(79,185,247,0.3);
  }
}
.sidenav .visitor-role, .sidenav .member-role {
  background-color: #274f8d;
  color: rgba(255,255,255,0.6);
}
#login-form #login-btn .login-txt,
#signup-form #signup-btn .login-txt,
#forgotpass-form #forgotpass-btn .login-txt,
#resetpass-form #resetpass-btn .login-txt {
  background-color: #25d422;
  transition: all 0.2s ease;
  &:hover {
    background-color: #1da61b;
  }
}
#landing>form .showpassword-wrap #showLoginPass, #landing>form .showpassword-wrap #showSignupPass {
  color: #3e6a8a;
}
#landing>form .showpassword-wrap #showLoginPass.showPassOn, #landing>form .showpassword-wrap #showSignupPass.showPassOn {
  color: #f5585b;
}

#landing .fpwd a,
a.log {
  color: #3e6a8a;
}
.aa-rm-in {
  border-bottom: 17.32px solid #000;
  &.checkit {
    border-bottom: 17.32px solid #2cba00;
  }
  &.checkaroo {
    border-bottom: 17.32px solid #2cba00;
  }
  &.checkaroo.checkit {
    border-bottom: 17.32px solid #2cba00;
  }
}
.aa-rm-out {
  border: 2px solid #0066ff; 
}
.rm-rm {
  color: #313131;
  &.hot {
    color: #2cba00;
  }
}
.rm-rm:hover {
  color: #2cba00;
}
#forgotpass-form .verifying-msg {
  color: #fff;
}


.day {
  // color: #757575;
  color: #5693be;
  &:hover {
    // color: #5693be; // original blue
    // color: #365c78; // dark blue
    color: #fff;
    text-shadow: -1px -1px 0 #5d9fcf, 1px -1px 0 #5d9fcf, -1px 1px 0 #5d9fcf, 1px 1px 0 #5d9fcf;
    // color: #5d9fcf; // light blue
    // color: #4fb766; // green
    // background: #ffffff url(_images/aa-logo-day-hover-light.gif) no-repeat center center fixed; // blue
    // background: #ffffff url(_images/aa-logo_day-active-yellow.gif) no-repeat center center fixed; // yellow
    background: #ffffff url(_images/aa-logo_day-active.webp) no-repeat center center fixed; // tie dye
    background-size: cover;
    background-attachment: fixed;
  }
}

.day-content {
  background-color: rgba(255,255,255,0.3);
  border-color: #73c5ff;
}
.day.active {
  color: #5693be;
  background: #d5d7d9 url(_images/aa-logo_day-active.gif) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  &:hover {
    color: #365c78;
    color: #fff;
    background: #ffffff url(_images/aa-logo-day-hover-light.gif) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;    
  }
}

@media screen and (max-width: 800px) {
  .day {
    &.active {
      background: none;
      background-color: rgba(255,255,0,0.5);
      border-color: #73c5ff; 
      &:hover {
        color: #5693be;
        background: none;
        background-color: transparent;
      }
    }
    &:hover {
      background: none;
      background-color: transparent;
      // background-color: rgba(255,255,0,0.5);
      color: #5693be;
      text-shadow: none;
    }
  }
}


span[data-ampm='AM'] {
  color: #83b0d1;
}
span[data-ampm='PM'] {
  color: #757575;
}
.email-host {
  a {
    background-color: #e59503;
    &:hover {
      background-color: #cc8400;
    }
    i.fa-exclamation-triangle,
    i.fa-envelope {
      color: #fff;
    }
  }
}


.weekday-wrap,
.weekday-edit-wrap {
  // background-color: rgba(79,185,247,0.3);
  // background-color: rgba(191,255,173,0.5);
  background-color: rgba(116,180,225,0.22);
}
.weekday-edit-wrap .meeting-details .details-right p.add-info,
form#manage-mtg p.days-held, 
form#manage-mtg p.time-held {
  border-color: #757575;
}
form#manage-mtg input.mtg-update.group-name.fixerror::placeholder {
  color: rgba(0,0,0,0.2);
}
form#manage-mtg label {
  color: #757575;
}
.btm-notes .file-uploads {
  border-color: rgba(0,0,0,0.6);
}
.btm-notes .file-uploads .pdf-wrap {
  border-color: rgba(0,0,0,0.3);
}
.btm-notes .file-uploads .pdf-remove a:hover {
  background-color: #c5373d;
}
.weekday-wrap .meeting-details #add-note {
  background-color: #fff;
}
.weekday-wrap .meeting-details #upload-links a.mtg-links,
.weekday-edit-wrap .meeting-details #upload-links a.mtg-links {
  background-color: #25d422;
  &:hover {
    background-color: #1da61b;
  }
}
.btm-notes a.cancel:hover {
  background-color: #757575;
}
.visible h1 {
  color: #eb800d;
}

.weekday-wrap .meeting-details .details-left {
  border-color: rgba(0,0,0,0.3);
}
.manage-glance-review.draft {
  color: #313131;
}
.manage-glance-wrap-review a.manage-edit,
.manage-glance-wrap-review a.manage-delete {
  color: #266b85;
}
.manage-glance-wrap-review a.manage-delete:hover {
  color: red;
}
.manage-simple.review a.done {
  background-color: #25d422;
  &:hover {
  background-color: #1da61b;
  }  
}

.zoom-id {
  background-color: #1791e8;
  color: #fff;
  border-color: #1791e8;
  &:hover {
    background-color: #0f6aab;
    color: #fff;
    border-color: #1791e8;
  }
}
a.inline-show-tz {
  color: #0096ff;
  &:hover {
    color: #ffa500;
  }
}
input.day-values {
  color: #313131;
}
.glance-mtg-type i.fa-video, 
.glance-group-title i.fa-video {
  color: #5f798d;
}
.glance-mtg-type i.fa-map-marker-alt {
  color: #ea4335;
}

p.logout,
.manage-simple>p.logout>a {
  color: #757575;
}
.manage-simple>p.logout>a {
  color: #fff;
  background-color: #5693be;
  &:hover {
    background-color: #fff;
    color: #5693be;
    border-color: #5693be;
  }
}

.manage-simple {
  border-color: #757575;
}
/* email updates */
form.email-updates input[type="checkbox"]:checked+label {
  color: #17a109;
}
#landing>form {
  background-color: rgba(79,185,247,0.3);
}
#landing>form>input {
  background-color: rgba(79,185,247,0.2);
  color: #313131;
  &::placeholder {
    color: rgba(0,0,0,0.3);
  }
}
p.mtg-tz {
  color: #313131;
}
.collapse-btn {
  background-color: rgba(79,185,247,1);
  &:hover {
    background-color: rgba(79,185,247,0.4);
  }
}
a.map-dir,
a.zoom {
  color: #fff;
  background-color: #25d422;
  &:hover {
    background-color: #1da61b;
  }
}
a.zoom {
  border-color: transparent;
}
h2.change-role {
  color: #fff;
}
#transfer-host #sus-msg .sending-msg {
  color: #fff;
  background-color: #2295bf;
}
#transfer-host form#suspend-form #sus-reason textarea {
  background-color: #313131;
}

#msg-one, #gottajoin, #lat-long, #one-tap, #yer-phone-num, #desc-loc, #pdf-upload, #link-label, #role-key, #why-join, #mb-notes {
  background-color: rgba(255,255,255,0.8);
  color: #fff;
}
#msg .email-me {
  background-color: #000;
}

#msg-one .inside-msg-one, #gottajoin .inside-msg-one, #lat-long .inside-msg-one, #one-tap .inside-msg-one, #yer-phone-num .inside-msg-one, #desc-loc .inside-msg-one, #pdf-upload .inside-msg-one, #link-label .inside-msg-one, #role-key .inside-msg-one, #why-join .inside-msg-one, #mb-notes .inside-msg-one {
  box-shadow: 0px 0px 15px 5px rgba(0,0,0, 0.5);
}
#theModal {
  background-color: rgba(255,255,255,0.8);
  .modal-header,
  .modal-footer {
    background-color: #5693be;
  }
  .modal-body {
    background-color: #8abee4;
    color: #313131;
    form.emh-form input.edit-input, 
    form.emh-form textarea.edit-input {
      color: #313131;
    }  
    form.emh-form .submit-links input.send {
      background-color: #25d422;
      &:hover {
        background-color: #1da61b;
      }
    }

  }
}

.set-tz {
  background-color: rgba(255,255,255,0.8);
  .tz-box {
    h3 {
      background-color: #5693be;
      color: #fff;
    }
    .tz-content {
      background-color: #8abee4;
      color: #313131;
      form select.pick-tz,
      form select.pick-tz option {
        color: #757575;
        background-color: #fff;
      }
    }
  }
}

a.new-mtg-btn {
  background-color: #25d422;
  &:hover {
    background-color: #1da61b;
  }
}



form#manage-mtg .mtg-time-tz select.pick-tz,
form#manage-mtg .mtg-time-tz select.pick-tz option {
    color: #757575;
    background-color: #fff; 
    &.tzerr {
      background-color: #ffbdc0;
    } 
}

.manage-glance.draft {
  background-color: rgba(255, 255, 0, 0.5);
  &:hover {
    background-color: rgba(255,255,0,0.8);
  }
}
.manage-glance-wrap.active .manage-glance.draft {
  color: #757575;
}

form#manage-mtg label span:hover {
  color: #3f923a;
}
form#manage-mtg input:checked+span {
  color: #000;
}
a#toggle-lat-long-msg:hover, a#toggle-one-tap-msg:hover, a#toggle-yer-phone-num:hover, a#toggle-descriptive-location:hover, a#toggle-pdf-info:hover, a#toggle-link-label:hover, a#gottajoin:hover {
  color: #1ca31c;
}
.btm-notes .file-uploads p,
form#manage-mtg label.pdf-label {
  color: #757575;
}
.btm-notes .file-uploads a#file-upload {
  color: #48ad48;
  &:hover {
    color: #1c6c1c;
  }
}
form#manage-mtg label[for="add_note"] {
  cursor: default;
}
.radio, .radioz {
  border-color: rgba(81,159,59,0.8);
}
.radio:hover, .radioz:hover {
  color: #fff;
  background-color: #5191ff;
}
.radio.selected, .radioz.selected {
  color: #fff;
  border-color: #205da8;
}
.btm-notes input[name="update-mtg"] {
  background-color: #25d422;
  &:hover {
  background-color: #1da61b;
  }  
}


a.manage-edit,
a.manage-delete {
  color: #5fbadd;
}
a.manage-edit:hover {
  color: #1da61b;
}
a.manage-edit.my-stuff {
  color: #aaa;
}



footer {
  background-color: #efefef;
  color: #757575;
  #toggle-contact-form {
    color: #313131;
    &:hover {
      background-color: transparent;
      color: green;
      border: 1px dotted #808080;
    }
  }
}
a.ytv {
  color: #1da61b;
  &:hover {
  color: #1da61b;
  } 
}
footer #footer-contact-form input#name, footer #footer-contact-form input#email, footer #footer-contact-form textarea#comments {
  font-size: 1.1em;
  color: #757575;
  background-color: #fff;
  &:hover {
    background-color: #fff;
  }
  &:focus {
    background-color: #fff;
  }
}
footer #footer-contact-form input#emailBob {
  background-color: #25d422;
  border: none;
  &:hover {
  background-color: #1da61b;
  border: none;
  }  
}

h2.trans-h2 {
  background-color: #5693be;
  color: #fff;  
}
#transfer-host {
  background-color: rgba(138,190,228,0.5);
  color: #757575;  
}
.tabs .tab-content {
  background-color: #549ebe;
  color: #fff;
}


ul.tab-links a {
  background-color: #226897;
  &:hover {
    background-color: #549ebe;
  }
}
ul.tab-links li.focus a, 
ul.tab-links li.focus a:hover {
  background-color: #549ebe;
}
#transfer-host form input::placeholder {
  color: rgba(0,0,0,0.3);
}

#transfer-form-top #usr-role-go, #transfer-form-top #usr-role-goz, #transfer-form-top #usr-role-gozz, #transfer-form-top #transfer-this-top, #transfer-form-top #transfer-this-topz, #transfer-form-topz #usr-role-go, #transfer-form-topz #usr-role-goz, #transfer-form-topz #usr-role-gozz, #transfer-form-topz #transfer-this-top, #transfer-form-topz #transfer-this-topz, #user-list #usr-role-go, #user-list #usr-role-goz, #user-list #usr-role-gozz, #user-list #transfer-this-top, #user-list #transfer-this-topz, #user-listz #usr-role-go, #user-listz #usr-role-goz, #user-listz #usr-role-gozz, #user-listz #transfer-this-top, #user-listz #transfer-this-topz, #user-listzz #usr-role-go, #user-listzz #usr-role-goz, #user-listzz #usr-role-gozz, #user-listzz #transfer-this-top, #user-listzz #transfer-this-topz, #weekdays #usr-role-go, #weekdays #usr-role-goz, #weekdays #usr-role-gozz, #weekdays #transfer-this-top, #weekdays #transfer-this-topz {
  background-color: #25d422;
  &:hover {
  background-color: #1da61b;
  }  
}

#transfer-host a#transfer-this, #transfer-host a#select-role-first, #transfer-host a#suspend-user, #transfer-host a#not-yourself, #transfer-host a#change-user-role {
  background-color: #25d422;
  &:hover {
  background-color: #1da61b;
  } 
}

#transfer-form-top .mng-usr, #transfer-form-top .transfer-usr, #transfer-form-topz .mng-usr, #transfer-form-topz .transfer-usr, #user-list .mng-usr, #user-list .transfer-usr, #user-listz .mng-usr, #user-listz .transfer-usr, #user-listzz .mng-usr, #user-listzz .transfer-usr, #weekdays .mng-usr, #weekdays .transfer-usr {
  background-color: #fff;
  color: #757575;
  option {
    background-color: #fff;
    color: #757575;
  }
}
#transfer-host form input {
  background-color: rgba(255,255,255,0.8);
  color: #757575;
  font-size: 1.1em;
}
.manage-simple.s-a {
  color: #fff;
  background-color: rgba(227,47,47,0.75);
}
.manage-simple.c-a {
  color: #fff;
  background-color: rgba(64,178,8,0.75);
}

.manage-glance-user:hover {
  background-color: rgba(255,189,76,0.25);
}
.manage-glance-wrap.active {
  .manage-glance-user {
    color: #313131;
  }
}
.notes-glance p.reason-note {
  color: #fff;
}
.sus-notes, .note-reason, #sus-note {
  color: #313131;
}
#sus-note {
  color: #fff;
}

@media screen and (max-width: 800px) {
    .daily-glance-wrap, .manage-glance-wrap {
        background-color: rgba(247,255,0,0.25);
    }
    .manage-glance-user {
      border-bottom-color: rgba(0,0,0,0.2);
    }
    .weekday-wrap.user-mng.user-empty {
      padding: 5px;
    }
  }

form.admin-email-form .bccem a {
  background-color: #25d422;
  &:hover {
  background-color: #1da61b;
  }   
}

footer #footer-contact-form span {
  background-color: #4ac52d;
  color: #fff;
}