body {
  background-color: #f5f7fb;
  color: #757575;
}
.preload-anni,
.preload-dev {
  background-color: #f5f7fb;
  p {
    color: #757575;
  }
}
#navigation .top-nav {
  background-color: #fff;
  color: #313131;
  border-color: #757575;
  &:hover {
    background-color: #e6e6e6;
    color: #313131;
  }
  &.admin-logged:hover {
    background-color: gold;
  }
}
.top-nav .bars,
.top-nav .bars:before,
.top-nav .bars:after {
  background: #313131;
}
.sidenav {
  background-color: #fff;
  color: #757575;
  a.cc-x {
    border-color: #ccc;
  }
  a:hover {
    background-color: rgba(79,185,247,0.8);
  }
  a.nav-active {
    background-color: rgba(79,185,247,0.3);
    color: #757575;
  }
  a.login i {
    // color: #2b8719;
    color: #3dbd24;
  }
  .theme-nav a.light.nav-active {
    // color: #757575;
    color: #fff;
    background-color: rgba(79,185,247,0.8);
  }
  a.admin-login {
    color: rgba(147,125,6,1);
    &:hover {
      color: #ffff00;
    }
  }
  .admin-role {
    background-color: rgba(147,125,6,1);
  }
}
.sidenav a.closebtn:hover .ctxt {
  color: #fff;
}
.daily-glance {
  color: #757575;
  &:hover {
    background-color: rgba(255,255,0,0.5);
  }
  .active {
    color: #313131;
  }
}
@media screen and (max-width: 800px) {
  .daily-glance-wrap {
    background-color: rgba(79,185,247,0.3);
  }
}
#login-form #login-btn .login-txt,
#signup-form #signup-btn .login-txt,
#forgotpass-form #forgotpass-btn .login-txt {
  background-color: #25d422;
  transition: all 0.2s ease;
  &:hover {
    background-color: #1da61b;
  }
}
#landing>form .showpassword-wrap #showLoginPass, #landing>form .showpassword-wrap #showSignupPass {
  color: #3e6a8a;
}
#landing>form .showpassword-wrap #showLoginPass.showPassOn, #landing>form .showpassword-wrap #showSignupPass.showPassOn {
  color: #f5585b;
}

#landing .fpwd a,
a.log {
  color: #3e6a8a;
}
.aa-rm-in {
  border-bottom: 17.32px solid #000;
  &.checkit {
    border-bottom: 17.32px solid #2cba00;
  }
  &.checkaroo {
    border-bottom: 17.32px solid #2cba00;
  }
  &.checkaroo.checkit {
    border-bottom: 17.32px solid #2cba00;
  }
}
.aa-rm-out {
  border: 2px solid #0066ff; 
}
.rm-rm {
  color: #313131;
  &.hot {
    color: #2cba00;
  }
}
.rm-rm:hover {
  color: #2cba00;
}

.day {
  // color: #757575;
  color: #5693be;
  &:hover {
    color: #365c78;
    color: #fff;
    background: #ffffff url(_images/aa-logo-day-hover-light.gif) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
}
.day-content {
  background-color: rgba(255,255,255,0.3);
  border-color: #73c5ff;
}
.active {
  background: #d5d7d9 url(_images/aa-logo_day-active.gif) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}
span[data-ampm='AM'] {
  color: #83b0d1;
}
span[data-ampm='PM'] {
  color: #757575;
}
.email-host {
  a {
    background-color: #e59503;
    &:hover {
      background-color: #cc8400;
    }
    i.fa-exclamation-triangle,
    i.fa-envelope {
      color: #fff;
    }
  }
}


.weekday-wrap,
.weekday-edit-wrap {
  // background-color: rgba(79,185,247,0.3);
  background-color: rgba(191,255,173,0.5);
}
.weekday-wrap .meeting-details #add-note {
  background-color: #fff;
}
.weekday-wrap .meeting-details #upload-links a.mtg-links {
  background-color: #25d422;
  &:hover {
    background-color: #1da61b;
  }
}

.zoom-id {
  background-color: #1791e8;
  color: #fff;
  border-color: #1791e8;
  &:hover {
    background-color: #0f6aab;
    color: #fff;
    border-color: #1791e8;
  }
}
a.inline-show-tz {
  color: #0096ff;
  &:hover {
    color: #ffa500;
  }
}
input.day-values {
  color: #313131;
}
.glance-mtg-type i.fa-video, 
.glance-group-title i.fa-video {
  color: #5f798d;
}
.glance-mtg-type i.fa-map-marker-alt {
  color: #ea4335;
}

p.logout,
.manage-simple>p.logout>a {
  color: #757575;
}
.manage-simple {
  border-color: #757575;
}
/* email updates */
form.email-updates input[type="checkbox"]:checked+label {
  color: #17a109;
}
#landing>form {
  background-color: rgba(79,185,247,0.3);
}
#landing>form>input {
  background-color: rgba(79,185,247,0.2);
  color: #313131;
  &::placeholder {
    color: rgba(0,0,0,0.3);
  }
}
p.mtg-tz {
  color: #313131;
}
.collapse-btn {
  background-color: rgba(79,185,247,1);
  &:hover {
    background-color: rgba(79,185,247,0.4);
  }
}
a.map-dir,
a.zoom {
  color: #fff;
  background-color: #25d422;
  &:hover {
    background-color: #1da61b;
  }
}
a.zoom {
  border-color: transparent;
}

#msg-one, #gottajoin, #lat-long, #one-tap, #yer-phone-num, #desc-loc, #pdf-upload, #link-label, #role-key, #why-join, #mb-notes {
  background-color: rgba(255,255,255,0.8);
  color: #fff;
}

#msg-one .inside-msg-one, #gottajoin .inside-msg-one, #lat-long .inside-msg-one, #one-tap .inside-msg-one, #yer-phone-num .inside-msg-one, #desc-loc .inside-msg-one, #pdf-upload .inside-msg-one, #link-label .inside-msg-one, #role-key .inside-msg-one, #why-join .inside-msg-one, #mb-notes .inside-msg-one {
  box-shadow: 0px 0px 15px 5px rgba(0,0,0, 0.5);
}
#theModal {
  background-color: rgba(255,255,255,0.8);
  .modal-header,
  .modal-footer {
    background-color: #5693be;
  }
  .modal-body {
    background-color: #8abee4;
    color: #313131;
    form.emh-form input.edit-input, 
    form.emh-form textarea.edit-input {
      color: #313131;
    }  
    form.emh-form .submit-links input.send {
      background-color: #25d422;
      &:hover {
        background-color: #1da61b;
      }
    }

  }
}

.set-tz {
  background-color: rgba(255,255,255,0.8);
  .tz-box {
    h3 {
      background-color: #5693be;
      color: #fff;
    }
    .tz-content {
      background-color: #8abee4;
      color: #313131;
      form select.pick-tz,
      form select.pick-tz option {
        color: #757575;
        background-color: #fff;
      }
    }
  }
}

a.new-mtg-btn {
  background-color: #25d422;
  &:hover {
    background-color: #1da61b;
  }
}



form#manage-mtg .mtg-time-tz select.pick-tz,
form#manage-mtg .mtg-time-tz select.pick-tz option {
    color: #757575;
    background-color: #fff; 
    &.tzerr {
      background-color: #ffbdc0;
    } 
}






a.manage-edit,
a.manage-delete {
  color: #757575;
}
a.manage-edit:hover {
  color: #1da61b;
}
a.manage-edit.my-stuff {
  color: #aaa;
}

footer {
  background-color: #efefef;
  color: #757575;
  #toggle-contact-form {
    color: #313131;
    &:hover {
      background-color: rgba(79,185,247,1);
    }
  }
}