.weekday-wrap.user-mng {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.manage-glance.user-glance {
	cursor: default;
	&:hover {
		background-color: transparent;
	}
}
.weekday-wrap.user-mng.user-empty {
	padding: 1em;
}

.manage-glance-user {
	display: flex;
	// 08.01.21
	// flex-direction: column;
	// end 08.01.21
	justify-content: space-between;
	cursor: pointer;
	padding: 0.5em 1em;
	background-color: transparent;
	color: inherit;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid rgba(255,255,255,0.15);
	border-right: 1px solid transparent;
	&:hover {
		background-color: rgba(0,0,0,0.2);
	}
	.glance-mtg-time, {
		// flex: 2 1 0;
		padding: 0 1em 0 0;
		width: 100%;
		min-width: 150px;
	}
	.glance-group-title {
		// align-self: flex-end;
		// align-self: flex-start;
		width: 100%;
		line-height: 1.5em;
	}
	.glance-mtg-type {
		padding: 0 1em;
		text-align: right;
		p {
			// display: flex;
			width: 100%;
			text-align: right;
		}
	}
	&.draft {// blue draft
		background-color: rgba(32,93,168,0.3);
	}
	&.personal {
		border-left: 1px solid #96ff00;
	}
}

.notes-glance {
	width: 100%;
	margin-top: 0.5em;
	padding: 0px;
	background-color: rgba(255,255,255,0.2);
	p.reason-note {
		width: 100%;
		background-color: #000;
		background-color: #8a1d1d;
		padding: 0.5em;
		// margin-bottom: 1em;
	}
	p.note-reason {
		padding: 1em;
		background-color: rgba(255,132,132,0.2);
	}
}
.manage-simple.s-a,
.manage-simple.c-a {
	background-color: rgba(255,255,255,0.1);
	padding: 1em 0.5em 0.5em;
}
.manage-simple.s-a {
	background-color: rgba(77,13,13,0.4);
}
.manage-simple.c-a {
	margin-top: 2em;
	background-color: rgba(64,178,8,0.4);
}
.manage-glance-wrap.u-m {
	margin-top: 0;
	cursor: default;
}




.tabs { 
	.tab-content {
		padding: 1em 0.5em 0.5em;
		background-color: #464646;
		border: 1px solid #b5b5b5;
		#tab2 {
			display: none;
		}
	}
}
// tabs user_management.php
.tabs.ump {
	width: 100%;
	max-width: 900px;
	margin-bottom: 1.5em;
	.user-box {
		padding: 1em;
		p {
			margin-bottom: 1em;
		}
		form select {
			min-width: 50%;
		}
	}
	// .user-box p {
	// 	margin: 1em 0 1em 1em;
	// }
}
ul.tab-links {
	margin-bottom: -1px;
	list-style: none;
	display: inline-block;
	display: flex;
	justify-content: flex-start;
	width: 80%;
	flex: 1;
	li {
		list-style: none;
		display: flex;
		width: 100%;
		margin: 0;
		// margin-bottom: -1px;
		border-bottom: 1px solid transparent;
		border-bottom: 1px solid #b5b5b5;
		&:first-of-type {
			margin-right: 0.5em;
		}
	}
	li.focus {
		border-bottom: none;
	}
	a {
	  color: #fff;
	  background-color: #000;
	  transition: all linear 0.15s;
	  text-decoration: none;
	  width: 100%;
	  border-top-right-radius: 5px;
	  border-top-left-radius: 5px;
	  border-top: 1px solid #b5b5b5;
	  border-right: 1px solid #b5b5b5;
	  border-left: 1px solid #b5b5b5;
	  padding: 0.5em 1em;
	  transition: all 0.2s ease;
	  &:hover {
	  	background-color: #262626;
	  	color: #fff;
	  }
	}
} 
li.focus a, 
li.focus a:hover {
    background-color: #464646;
    border-top: 1px solid #b5b5b5;
	  border-right: 1px solid #b5b5b5;
	  border-left: 1px solid #b5b5b5;
    color: #fff;
    cursor: default;
}

@media screen and (max-width: 380px) {
	.tabs.ump .user-box {
		padding: 1em 0.5em;
	}
}













.user-box #transfer-form-top,
.user-box #transfer-form-topz {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
	select {
		min-width: 50%;
		overflow-x: hidden;
	}
}
#transfer-form-top,
#transfer-form-topz,
#user-list,
#user-listz {
	display: flex;
	.mng-usr,
	.transfer-usr {
		font-size: 1em;
		padding: 0.5em;
		outline: none;
		cursor: pointer;
		background-color: #313131;
		color: #fff;
		-webkit-appearance: none;
		option {
			cursor: pointer;
			color: #fff;
			background-color: #313131;
			// -webkit-appearance: none;
			&:hover {
				cursor: pointer;
			}
		}
	}
	#usr-role-go,
	#usr-role-goz,
	#transfer-this-top,
	#transfer-this-topz {
		cursor: pointer;
		padding: 0.5em 1em;
		margin-left: 1em;
		background-color: #376420;
		border: 1px solid transparent;
		color: #fff;
		transition: all 0.2s ease;
		&:hover {
			background-color: #80eb4b;
			border: 1px solid #fff;
			color: #1c3310;
		}
	}
}

@media screen and (max-width: 600px) {
	.manage-glance-user {
		flex-direction: column;
		word-wrap: break-word;
		.manage-user-right {
			display: flex;
			justify-content: flex-end;
		}
	}
}