.weekday-wrap.user-mng {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.manage-glance.user-glance {
	cursor: default;
	&:hover {
		background-color: transparent;
	}
}
.weekday-wrap.user-mng.user-empty {
	padding: 1em;
}

.manage-glance-user {
	display: flex;
	// 08.01.21
	// flex-direction: column;
	// end 08.01.21
	justify-content: space-between;
	cursor: pointer;
	padding: 0.5em 1em;
	background-color: transparent;
	color: inherit;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid rgba(255,255,255,0.15);
	border-right: 1px solid transparent;
	&:hover {
		background-color: rgba(0,0,0,0.2);
	}
	.glance-mtg-time, {
		// flex: 2 1 0;
		padding: 0 1em 0 0;
		width: 100%;
		min-width: 150px;
	}
	.glance-group-title {
		// align-self: flex-end;
		// align-self: flex-start;
		width: 100%;
		line-height: 1.5em;
	}
	.glance-mtg-type {
		padding: 0 1em;
		text-align: right;
		p {
			// display: flex;
			width: 100%;
			text-align: right;
		}
	}
	&.draft {// blue draft
		background-color: rgba(32,93,168,0.3);
	}
	&.personal {
		border-left: 1px solid #96ff00;
	}
}

.notes-glance {
	width: 100%;
	margin-top: 0.5em;
	padding: 0px;
	background-color: rgba(255,255,255,0.2);
	p.reason-note {
		width: 100%;
		background-color: #000;
		background-color: #8a1d1d;
		padding: 0.5em;
		// margin-bottom: 1em;
	}
	p.note-reason {
		padding: 1em;
		background-color: rgba(255,132,132,0.2);
	}
}
.manage-simple.s-a,
.manage-simple.c-a {
	background-color: rgba(255,255,255,0.1);
	padding: 1em 0.5em 0.5em;
}
.manage-simple.s-a {
	background-color: rgba(77,13,13,0.4);
}
.manage-simple.c-a {
	margin-top: 2em;
	background-color: rgba(64,178,8,0.4);
}
.manage-glance-wrap.u-m {
	margin-top: 0;
	cursor: default;
}
#user-list {
	.mng-usr {
		font-size: 1em;
		padding: 0.5em;
		outline: none;
		cursor: pointer;
		background-color: #313131;
		color: #fff;
		option {
			cursor: pointer;
			color: #fff;
			background-color: #313131;
			&:hover {
				cursor: pointer;
			}
		}
	}
	#usr-role-go {
		cursor: pointer;
		padding: 0.5em 1em;
		margin-left: 1em;
		background-color: #376420;
		border: 1px solid transparent;
		color: #fff;
		transition: all 0.2s ease;
		&:hover {
			background-color: #80eb4b;
			border: 1px solid #fff;
			color: #1c3310;
		}
	}
}

@media screen and (max-width: 600px) {
	.manage-glance-user {
		flex-direction: column;
		word-wrap: break-word;
		.manage-user-right {
			display: flex;
			justify-content: flex-end;
		}
	}
}