* {
  box-sizing: border-box;
}
body {
  background-color: #313131;
  background-color: rgba(49,49,49,1);
  font-family: Tahoma, Calbri, sans-serif;
  color: #fff;
  font-size: 18px;
}
.background-image {
	display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    z-index: -1;
}
hr {
	margin: 2em auto;
}
#wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
ul#weekdays {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	font-size: 2em;
	font-weight: bold;	
}
li.ctr-day {
	button::-moz-focus-inner {
		outline: none;
		border: 0;
	}
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
	.day-content {
		font-weight: normal;
		font-size: 18px;
	}
}
.day {
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
	background-color: inherit;
	color: inherit;
	border: none;
	width: 100%;
	padding: 0.2em;
	outline: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	transition: font-size 0.3s ease, background 0.5s ease;
	/* trippy, trippy background transition. does something with backstretch that results in neat hover effect */
	&:hover {
		background-color: #fff;
		background-color: rgba(255,255,255,1);
		color: #313131;
		background: #6d94e1 url('_images/aa-logo-light.gif') no-repeat center center fixed;
		background-size: cover;
		background-attachment: fixed;
	}
	&:focus {
		outline: none;
	}	
}
.active {
	border-top: 2px solid #fff;
	border-bottom: dashed 1px #7e7e7e;
	background-color: #000;
	background-color: rgba(0,0,0,1);
	color: #fff;
	background: #6d94e1 url('_images/aa-logo_active.gif') no-repeat center center fixed;
	background-size: cover;
	background-attachment: fixed;
	// border-left: 1px solid transparent;
}
.day-content {
	font-size: 18px;
	font-weight: normal;
	border-bottom: 2px solid #fff;
	padding: 0.5em 1.5em 1.5em;
	background-color: #515151;
	background-color: rgba(81,81,81,0.7);
	width: 100%;
	text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;	
}
p.no-mtgs {
	padding: 2em 0em 1em;
}
.mtgdays {
  // width: 100%;
  max-width: 900px;
  // padding: 8px 20px 8px 18px;
  // margin-bottom: -1em;
  // margin: 5px 0 -1em;
  // border-top: 1px solid rgba(255,255,255,0.2);
  // background-color: rgba(0,0,0,0.5);
  cursor: default;
}
.daily-glance-wrap {
	width: 100%;
	max-width: 900px;
	// need this wrap for margin-top
	// exclusively	
	margin-top: 1em;
}

.daily-glance {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	padding: 0.5em 1em;
	background-color: transparent;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	color: inherit;
	line-height: 1.5em;
  background-color: transparent;
  // background-color: rgba(0,0,0,0.2);
  transition: all 0.2s ease;
	&:hover {
		background-color: rgba(0,0,0,0.2);
	}
  &.md {
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
    transition: all 0.2s ease;
    &:hover {
      border-radius: 0px;
      background-color: rgba(0,0,0,0.4);
    }
  }
	.glance-mtg {
		display: flex;
		flex: 1;
	}
	.glance-group-title {
		flex: 2;
		padding: 0em 0.5em;
		// line-height: 1.5em;
	}
	.glance-mtg-type {
		justify-content: flex-end;
	}
}



.daily-glance-wrap {
  &.alt-page {
    border: none;
    &.active {
      border: none;
      background: none;
      background-color: transparent;
    }
  }
  .daily-glance {
    &.alt-page {
      cursor: default;
      background-color: rgba(0,0,0,0.3);
    }
  }
}


.weekday-wrap.note-here {
		border-bottom-left-radius: 15px;
	}
.weekday-wrap,
.weekday-edit-wrap {
	width: 100%;
	max-width: 900px;
	padding: 0px 20px 20px;
	display: flex;
	flex-direction: column;
	// position: relative;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.3);
	// border-bottom-right-radius: 10px;
	// border-bottom-left-radius: 10px;
  &.user-mng {
    padding: 0px;
    &:hover {
      // background-color: inherit;
    }
    &.active {
      background-color: inherit;
    }
  }
	&.draft-bkg {
		//background: url('_images/draft-bkg.png') no-repeat center center;
		}
	.meeting-details {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 1em;
		// position: relative;		
		i.far.fa-edit {
			position: absolute;
			top: 5px;
			right: 5px;
			color: #fff;
			cursor: pointer;
		}
		p {
			line-height: 1.5em;
		}
		p.dd-meet {
			margin-bottom: 1em;
		}
		p.zoom-info {
			text-decoration: underline;
			font-size: 1.2em;
			margin-bottom: 0.5em;
		}
		p.meet-time {
			font-size: 1.5em;
			margin-bottom: 0.5em;
		}
		p.id-num {
			// margin-top: 1.5em;
			margin-bottom: 0.75em;
		}
		.details-left {
			display: flex;
			flex-direction: column;
			align-self: flex-start;
			width: 50%;
			padding: 1em;
			margin-top: 1em;
			border-right: 1px solid rgba(255,255,255,0.2);
			& > p.phone-num01 {
				color: #fff;
				margin-top: 0.5em;
				margin: 0.5em 0 1.5em;
				& > i {
					margin-right: 0.5em;
				}
				& > a {
					color: #fff;
					text-decoration: none;
				}
			}
		}
		.details-right {
			display: flex;
			flex-direction: column;
			width: 50%;
			padding: 1em;
			p.add-info {
				// text-decoration: underline;
				font-weight: bold;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
			}
			ul {
				list-style-type: disc;
				margin-left: 1em;
			}
			ul > li {
				line-height: 1.5em;
				margin-bottom: 0.5em;
			}
		}
		#add-note {
			width: 100%;
			padding: 30px;
			background: rgba(255,255,255,0.75);
			color: #313131;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 10px;
			border-top-left-radius: 0px;
			margin-top: 0.5em;
			word-break: break-word;
			& > p {
				text-align: left;
			}
		}
		#upload-links {
			width: 100%;
			margin: 1em 0em;
			padding: 1em;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			p.mtg-files {
				width: 100%;
				font-weight: bold;
				margin-bottom: 0.5em;
				text-decoration: underline;
				margin-bottom: 0.5em;
			}
			a.mtg-links {
				padding: 1em;
				width: 48%;
				margin: 0.5em 0;
				background-color: rgba(255,255,255,0.2);
				color: #fff;
				border-radius: 3px;
				text-align: center;
				text-decoration: none;
				transition: all 0.2s ease;
				&:hover {
					background-color: rgba(255,255,255,0.1);
				}
			}
		}		
	}
	p.no-meet {
		text-align: center;
		padding: 50px;
	}
}
.manage-glance-wrap.um.active .manage-glance.user-glance {
  background-color: rgba(0,0,0,0.3);
  // background-image: none;
  // background: none;
}

.collapse-day {
	cursor: pointer;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
	position: sticky; 
	top: 5px;
	// width: 60px;
	margin: 0 auto;
	// nav z-index is 1234580
	z-index: 78;
}
.collapse-btn {
	display: inline-flex;
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
	padding: 5px 15px;
	// border-radius: 3px;
	// border-radius: 50%;
	border: 1px solid #fff;
	// box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px 3px rgba(255,255,255,0.3);
	transition: background-color 0.2s ease;
	&:hover {
		background-color: rgba(0,0,0,0.3);
	}
}

// .sel-tz {
// 	width: 100%;
// 	max-width: 900px;
// 	margin-top: 1em;
// 	padding: 0.5em 1em;
// 	font-size: 0.8em;
// 	line-height: 1.5em;
// 	display: flex;
// 	align-items: center;
// 	color: #fff;
// 	background-color: rgba(66,204,154,0.2);
// 	.tz-txt {
// 		color: orange;
// 	}
// 	a {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		// font-size: 0.8em;
// 		color: #fff;
// 		text-decoration: none;
// 		border-radius: 3px;
// 		margin-left: 1em;
// 		padding: 0.25em 1em;
// 		background-color: #000;
// 		transition: all 0.2s ease;
// 		&:hover {
// 			background-color: #757575;
// 		}
// 	}
// }
// @media screen and (max-width: 650px) {
// 	.sel-tz {
// 		flex-direction: column;
// 		justify-content: center;
// 		align-items: center;
// 		text-align: center;
// 		a {
// 			width: 80%;
// 			max-width: 250px;
// 		}
// 	}
// }
p.inline-tz {
	margin-top: 1em;
	font-size: 0.8em;
	width: 100%;
	max-width: 900px;
	text-align: left;
	color: rgba(255,255,255,0.6);
}
p.mtg-tz {
	color: #d2d2cf;
	font-size: 0.8em;
	margin-bottom: 1em;
	background-color: rgba(255,255,255,0.1);
	padding: 1em;
}
a.inline-show-tz {
	cursor: pointer;
	color: orange;
	text-decoration: none;
	// text-shadow: 0px 0px 5px #000;
	transition: all 0.2s ease;
	&:hover {
		color: rgba(255,255,255,0.6);
	}
}
span[data-ampm='AM'] {
	color: #fff;
}
span[data-ampm='PM'] {
	color: #a5a5a5;
}



.email-host {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	font-size: 0.8em;
	a {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		max-width: 200px;
		padding: 0.75em 1em;
		background-color: #757575;
		color: #fff;
		border: 1px solid #ccc;
		transition: all 0.2s ease;
		&:first-of-type {
			margin-right: 0.5em;
		}
		&:hover {
			background-color: #313131;
		}
		i {
			margin-right: 0.5em;
		}
	}
	a i.fa-exclamation-triangle {
		color: #ffa500;
	}
	a i.fa-envelope {
		color: #d6b385;
	}
}
.email-host.admin-links {
	a {
		max-width: 50%;
		word-wrap: break-word;
		word-break: break-word;
	}
}
.issue-header {
	border: 1px solid #ff9f9f;
	background-color: #dddddd;
	color: #313131;
	font-size: 0.8em;
	padding: 0.5em 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 1.2em;
	text-align: justify;
}
.log-issue-public {
	display: flex;
	flex-direction: column;
	width: 100%;
	line-height: 1.5em;

}
.errors-reported {
	display: flex;
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border: 1px solid #f23a3a;
	background-color: #ffc0c0;
	color: #5e0000;
	font-size: 0.8em;
	line-height: 1.5em;
	padding: 1em;
}













@media screen and (max-width: 800px) {
	.backstretch {
		display: none;
	}
	.background-image {
		display: block;
	}
	.day {
		font-size: 1.1em; 
		&:hover {
			background: none;
			background-color: transparent;
			color: #fff;
		}
	}
	.active {
		background: none;
		// background-color: #fff;
		background-color: rgba(255,255,255,0.2);
		color: #fff;
	}
	// .weekday-wrap.note-here {
	// 	border-bottom-left-radius: 0px;
	// }
	.weekday-wrap {
		padding: 0px 10px 10px;
	}
	.weekday-wrap .meeting-details {
		flex-direction: column;
		.details-left,
		.details-right {
			width: 100%;
			padding: 0em;
			margin-top: 1em;
		}
		.details-left {
			border-right: none;
			border-bottom: 1px solid rgba(255,255,255,0.2);
		}
	}



	.daily-glance,
	.manage-glance {
		padding: 0.5em;
		line-height: 1.4em;
		// flex-direction: column;
		&:hover {
			background-color: inherit;
		}
		.glance-mtg-type {
			justify-content: flex-end;
		}
	}
	.day-content {
		padding: 0.5em 0.5em 1.5em;
	}
	.daily-glance-wrap,
	.manage-glance-wrap {
		//background-color: rgba(45,74,107,0.7);
		background-color: rgba(0,0,0,0.45);
	}
	.manage-glance .glance-mtg-type {
		padding: 0px;
	}


	.email-host {
		a {
			max-width: 100%;
		}
	}
}


input.day-values
 {
  font-size: 18px;
  border: none;
  background-color: inherit;
  // margin-top: 1.5em;
  color: #fff;
  font-family: inherit;
  width: 100%;
  max-width: 200px;
  font-weight: normal;
  outline: none;
}
.zoom-id {
  margin-bottom: 0.75em;
  & > i.far {
  	margin-right: 0.5em;
  }
}
.zoom-id,
a.zoom {
  width: 90%;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  background-color: #fff;
  color: #313131;
  border: 1px solid #757575;
  // border-radius: 3px;
  padding: 0.75em 1em;
  transition: all 0.2s ease;
  &:hover {
    background: #757575;
    color: #fff;
    cursor: pointer;
  }
}
a.zoom.ot {
	margin: 0.5em 0 1em;
}
a.zoom-id.copied {
	background-color: #86e483;
	color: #106f0e;
	border: 1px solid #fff;
}
.zoom-id {
	background-color: #626262;
	color: #fff;
	text-align: left;
	&:hover {
		background-color: #eaeaea;
		color: #313131;
	}
}

a.zoom {
  display: inline-block;
  // margin-top: 1em;
  text-decoration: none;
  // width: auto;
  padding: 0.5em 1em;
  background-color: #5cd359;
  &:hover {
  	background-color: #25d422;
  }
}

@media screen and (max-width: 490px) {
	a.zoom.ot,
	a.zoom,
	a.zoom-id {
		width: 100%;
	}

}